<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">
    <section class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <img src="/assets/img/aboutflyev4r.png" class="img-fluid style272" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Breadcrumbs ======= -->
    <!-- <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="blog.html">Blog</a></li>
        </ol>
        <h2>Dolorum optio tempore voluptas dignissimos</h2>
      </div>
    </section> -->
    <!-- End Breadcrumbs -->

    <!-- ======= Hero Section ======= -->



    <br>

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">

        <div class="container" data-aos="fade-up">

            <!--  -->
            <div class="row">

                <div class="col-lg-12 entries">
                    <div data-aos="fade-up" class="col-lg-12 style44">
                        <h1 class="style45">MISSION</h1>
                    </div>
                    <article class="entry entry-single">
                        <div class="entry-content">
                            <blockquote class="style46">
                                <p>
                                    The mission of Elder Services of Berkshire County, Inc. is to provide Berkshire elders, caregivers, and individuals with disabilities the opportunity to live with dignity, independence, and self-determination,
                                    and to achieve the
                                    highest possible quality of life.

                                    Elder Services practices non-discrimination in employment practices and service delivery. Embracing diversity, our in-home and community-based services are available to all without regard to race, ethnicity,
                                    language, religion,
                                    gender, sexual orientation, or lifestyle.
                                </p>
                            </blockquote>
                        </div>
                    </article>
                </div>

                <div class="col-lg-12 entries">
                    <div data-aos="fade-up" class="col-lg-12 style44">
                        <h1 class="style45">Statement of Inclusion</h1>
                    </div>

                    <article class="entry entry-single">

                        <div class="entry-content">
                            <blockquote class="style46">
                                <p>Elder Services embraces diversity and practices non-discrimination in employment practices and service delivery. Our in-home and community-based services are available to all without regard to race, color,
                                    religious creed, national origin, ancestry, gender, age, marital status, gender identity, sexual orientation, disability, genetic information, veteran status, pregnancy, or pregnancy-related condition, or any
                                    other characteristic protected by law.</p>
                            </blockquote>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section><!-- End Blog Single Section -->

    <section class="about section-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col-lg-12 style44">
                        <h1 class="style45">About Elder Services of Berkshire County</h1>
                    </div>

                    <div class="d-flex align-items-center">

                        <div>

                            <p>In 1974, Elder Services of Berkshire County, Inc. was established as a private, non-profit Home Care Corporation, and in 1975 was designated as an Area Agency on Aging in accordance with the
                                Older Americans Act. In 1997, Elder Services was designated by the Executive Office of Elder Affairs to be the Aging Services Access Point (ASAP) for all of Berkshire County. Services offered to elders include
                                Information and Referral, Care Management, Respite Care, Homemaker and Home Health Assistance, Healthy Aging Programs, and MassHealth Nursing Home Pre-screening. The agency also offers Housing Options, Group Adult
                                Foster Care, Long Term Care Ombudsman, Money Management, and oversees the Senior Community Service Aide Employment Program. The Volunteer Program serves more than thirty-six hundred elders annually with a corps of
                                nearly 200 volunteers.</p><br>

                            <p>
                                Every four years the agency identifies priority needs of Berkshire County's seniors and plans and develops services to address these needs. Each month, more than 1,000 elders receive in-home services, authorized by
                                case managers.
                                Each day approximately 1,000 meals are prepared in Elder Services’ own kitchen. Each year, over 45,000 meals are served at our 15 congregate meal sites, while over 220,000 Meals on Wheels are hand-delivered to
                                Berkshire seniors. The
                                agency publishes a monthly newspaper, the Berkshire Senior, which is circulated to 11,000 individuals throughout the county.
                            </p><br>
                            <p>
                                In pursuing our mission, we collaborate with local Councils on Aging, senior centers, certified home health agencies, adult day health and social day care programs, mental health agencies, long term care
                                facilities, and all area
                                hospitals.
                            </p><br>
                            <p>
                                Elder Services, Berkshire County’s Aging Services Access Point, allows convenient access to such resources as enhanced elder nutrition, housing options, in-home and protective services,
                                nursing home ombudsman,
                                and information
                                on
                                elder programs and services throughout the county and state.
                            </p>
                        </div>

                    </div>
                    <a href="/service_areas.php">
                        <button class="btn style48 btn-success"><i class="bx bx-fingerprint"></i> Areas served</button>
                    </a>
                </div>
            </div>



        </div>
    </section><!-- End Blog Single Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/about">