<!-- Wappler include head-page="layouts/main" is="dmx-app" id="berkshire_senior_tv" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">Berkshire Senior TV</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->

    <!-- ======= Values Section ======= -->
    <!-- End Services Section -->



    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">


            <div class="row services section-bg row-cols-12 row-cols-xxl-12">
                <div class="col-lg-12 col-md-12 d-flex mt-3 justify-content-xxl-center" data-aos="fade-up">
                    <div class=" row icon-box">
                        <div class="icon"><i class="bi bi-tv"></i></div>
                        <h4 class="title">Your Guide To Aging Gracefully In The Berkshires</h4>

                        <p class="description">ESBCI hosts routine television shows on a multitude of timely and educational topics.</p>
                        <h4 class="title">VIEW ON DEMAND</h4>
                    </div>
                </div>


            </div>
            <div class="row row-cols-12 justify-content-center">
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/44653?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/berkshire_senior%20tv/may_2022.png">
                            <div class="card-body">
                                <h6 class="card-title">May, 2022, Healthy Living for Seniors</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/44463?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/berkshire_senior%20tv/April.png">
                            <div class="card-body">
                                <h6 class="card-title">April, 2022, Volunteer Appreciation</h6>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/44044?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/berkshire_senior%20tv/March_2022.png">
                            <div class="card-body">
                                <h6 class="card-title">&nbsp;Eat A Rainbow</h6>
                            </div>
                        </div>
                    </a>
                </div>





            </div>
            <div class="row row-cols-12 justify-content-center">
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/43878?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/berkshire_senior%20tv/February_2022.png">
                            <div class="card-body">
                                <h6 class="card-title">A 2022 Berkshire Community COVID Updat</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/41943?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/berkshire_senior%20tv/Clean Energy Technology.png">
                            <div class="card-body">
                                <h6 class="card-title">Clean Energy Technology</h6>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a href="https://watch.pittsfieldtv.net/CablecastPublicSite/show/41810?channel=1">
                        <div class="card">
                            <img class="card-img-top" alt="Card image cap" src="/assets/img/bstv.jpg">
                            <div class="card-body">
                                <h6 class="card-title">Mass Save Residential Program and Incentives</h6>
                            </div>
                        </div>
                    </a>
                </div>





            </div>
        </div>

        </div>
    </section><!-- End About Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/berkshire_senior_tv">