<!-- Wappler include head-page="layouts/main" is="dmx-app" id="Contacts" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" components="{dmxGoogleMaps:{}}" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style158">Contact Us</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <!-- <div class="section-title">
                    <h2 data-aos="fade-up">Location</h2>
                    <p data-aos="fade-up">Elder Services, Berkshire County’s Aging Services Access Point, allows convenient access to such resources as enhanced elder nutrition, housing options, in-home and protective services, nursing home
                        ombudsman, and information on elder programs and services throughout the state and country.</p>
                </div> -->


            <div class="row justify-content-center">

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                    <div class="info-box">
                        <i class="bx bx-map"></i>
                        <h3>Address</h3>
                        <p>877 South Street, Suite 4E
                            Pittsfield, MA 01201</p>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="info-box">
                        <i class="bx bx-envelope"></i>
                        <h3>Email Us</h3>
                        <p>esbci@esbci.org<br></p>
                        <p>Use the form below</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="info-box">
                        <i class="bx bx-phone-call"></i>
                        <h3>Call Us</h3>
                        <p>+1 (413) 499-0524<br>+1 (800) 544-5242</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center style181" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

            <div class="portfolio-info style155">
                <div data-aos="fade-up" class="row">
                    <div class="col">
                        <dmx-google-maps id="maps1" tilt="true" zoom="12" enable-clusters="true" marker-latitude="42.41769" marker-longitude="-73.258553" marker-address="'877 South Street, Suite 4E Pittsfield, MA 01201'" latitude="42.417690" longitude="-73.258553" dmx-bind:markers=""></dmx-google-maps>
                    </div>
                    <!-- <div class="col">
                            
                        </div> -->
                </div>
            </div>

            <br>

        </div>
        <br>
    </section><!-- End Contact Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/Contacts">