<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">ELDER MENTAL HEALTH OUTREACH TEAM (EMHOT)</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title">What is the Elder Mental Health Outreach Team?</h4>
                        <p class="description style269">The goal of the Elder Mental Health Outreach Team (EMHOT) is to address the unmet behavioral health needs of older adults who live in Berkshire County. The program model offers flexible, person-centered interventions for individuals 60 year of age or older. Older adults do not need to receive other support from Elder Services to qualify.&nbsp;</p>
                    </div>
                </div>

            </div>




        </div>
    </section><!-- End Services Section -->


    <!-- <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
            <img src="/assets/img/Australia-Home-Care-min.jpg" class="img-fluid col-xl-12">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

            <h3 data-aos="fade-up">THESE ARE SOME OF THE SERVICES WE PROVIDES:<br>
              <hr>
            </h3>
            <p data-aos="fade-up">Assisting elders, individuals with disabilities, and their families in accessing a comprehensive range of services that support older adults and individuals with disabilities so that they can maintain well-being and
              independence in the community.</p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-people"></i></div>
              <h4 class="title">The Family Caregiver Support Program</h4>
              <p class="description">The Family Caregiver Support Program is available to help caregivers in need of assistance and support.</p>
            </div>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-house-fill"></i></div>
              <h4 class="title">The Gallagher Alzheimer’s Resource</h4>
              <p class="description">The Gallagher Alzheimer’s Resource Center is available on site at Elder Services</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-heart-half"></i></div>
              <h4 class="title">Respite Services</h4>
              <p class="description">Respite services offer temporary or intermittent care for dependent adults</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-info-circle"></i></div>
              <h4 class="title">Information&nbsp;</h4>
              <p class="description">About the resources available and referrals to the specific services and programs that meet your needs</p>

            </div>


          </div>
        </div>

      </div>
      <br>
      <br>
    </section> -->
    <!-- End About Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <br>



            </div>




            <div data-aos="fade-up" class="section-title">
                <h1 class="style73">WHAT TYPE OF SUPPORT IS OFFERED BY THE EMHOT?</h1>


            </div>

            <div data-aos="fade-up" class="section-title">
                <p class="style75">The clinician can help older adults who are experiencing anxiety, depression, grief, isolation, have unresolved trauma, over use of alcohol or other substances. Services may include: 1:1 counseling in the setting of the older adult’s choice, help securing benefits and other services, support groups and caregiver support along with referrals for longer term behavioral health supports.&nbsp;&nbsp;</p>
            </div>

            <div data-aos="fade-up" class="section-title">
                <h2 class="style73">
                    <h1 wappler-command="editContent">How much does this service cost?
                    </h1>
                </h2>
                <p wappler-empty="undefined" wappler-command="editContent">There is no fee for EMHOT services nor will your insurance be charged.&nbsp;</p>
            </div>
            <h3>To make a referral to the EMHOT program or for more information, please call 413-499-0524.</h3>
            <hr>
        </div>

    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <p>
                <p wappler-empty="undefined" wappler-command="editContent"><br></p>
                <p wappler-command="editContent">*Funding for this project has been produced in part from a grant awarded to the Massachusetts Councils on Aging by the Executive Office of Elder Affairs.
                </p>
                <p wappler-empty="undefined" wappler-command="editContent"><br></p>
                </p>
            </div>

        </div>
    </section><!-- End Contact Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/emhot">