<!-- Wappler include head-page="layouts/main" is="dmx-app" id="employment" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">Employment Opportunities</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 aos-init aos-animate col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">A Great Place to Work - A Great Place to Grow</a></h4>
                        <p class="description">
                            A progressive and dedicated human services organization, provides Berkshire elders, caregivers, and individuals with disabilities the opportunity to live with dignity, independence, and self-determination, and to
                            achieve the highest possible quality
                            of life. To fulfill our mission, we seek energetic, focused, qualified professionals for the positions described below.
                        </p>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-6 pt-2 pb-2" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/CITCstock_006-578x386.jpg" class="alt img-fluid">
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <img src="/assets/img/hiring-removebg-preview.png" class="alt img-fluid pt-2 pb-2">
                </div>
            </div>



        </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <div class="row">
                    <div class="col">
                        <h3 style="color: #148517;">AVAILABLE POSITIONS:</h3>
                    </div>
                    <div class="col">

                        <select autofocus="true" class="style156">
                            <optgroup>
                            </optgroup>
                            <option value="">Select an Opening</option>
                            <option value="null">Executive Assistant Position</option>
                            <option value="null">Registered Nurse, Case Manager</option>
                            <option value="null">Behavioral Health Clinician – Full-Time</option>
                            <option value="null">Office Coordinator – SHINE (Full-time)</option>
                            <option value="null">Social Work, Case Manager</option>
                            <option value="null">Geriatric Support Service Coordinator (Full-Time)</option>
                            <option value="null">Long Term Options Counselor</option>
                            <option value="null">Administrative Support Professional</option>
                            <option value="null">Volunteer Opportunities</option>
                        </select>
                    </div>
                </div>

                <p>Send resume and cover letter Attn. Human Resources, Elder Services, 877 South Street, Suite 4E, Pittsfield, MA 01201 or email. AA/EOE</p>
            </div>


            <hr data-aos="fade-up">
            <di data-aos="fade-up" class="row">
                <div class="col-lg-12 col-md-12 d-flex align-items-stretch style149" id="esp">
                    <div class="portfolio-info style155">
                        <h3 class="style151"> <i class="bi bi-book-half"></i> Executive Assistant Position</h3>
                        <p>
                            Responsible for administrative and support activities for the Executive Director, the Board of Directors and the Agency’s Program Directors.
                        </p>

                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Requirements:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                                Bachelor’s degree with three to five years Administrative experience preferred; or Associate Degree with five or more years of Administrative experience required.
                            </p>
                        </div>
                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Special Knowledge/Abilities for Position:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                            <ul>
                                <li><i class="bi bi-caret-right-fill"></i>Tact, discretion and confidentiality as regards sensitive Agency and Board information</li>
                                <li><i class="bi bi-caret-right-fill"></i>Sincere commitment to serving elders and individuals with disabilities</li>
                                <li><i class="bi bi-caret-right-fill"></i>Knowledge of services available to elders preferred</li>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent verbal and written communication and interpersonal skills</li>
                                <li><i class="bi bi-caret-right-fill"></i>Willingness to work within an Interdisciplinary team</li>
                                <li><i class="bi bi-caret-right-fill"></i>Self-directed and energetic</li>
                                <li><i class="bi bi-caret-right-fill"></i>Demonstrated organizational skills</li>
                                <li><i class="bi bi-caret-right-fill"></i>Ability to multi-task</li>
                                <li><i class="bi bi-caret-right-fill"></i>Ability to understand and carry out verbal and written instructions</li>
                                <li><i class="bi bi-caret-right-fill"></i>Strong computer skills especially Microsoft Office Suite</li>
                                <li><i class="bi bi-caret-right-fill"></i>Strong supportive clerical skills</li>
                                <li><i class="bi bi-caret-right-fill"></i>Sound command of the English language</li>
                                <li><i class="bi bi-caret-right-fill"></i>Flexibility</li>
                            </ul>
                            </p>

                            <h5 class="style180">Upload your resume and Cover letter</h5>


                        </div>
                    </div>
                    <hr data-aos="fade-up">
                </div>

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch style149" id="rncm">
                    <div class="portfolio-info style161">
                        <h3 class="style151"> <i class="bi bi-book-half"></i> Registered Nurse, Case Manager</h3>
                        <p>
                            Excellent Benefits include Health Insurance, Free Dental Insurance, Pension Plan, Life Insurance, Twelve Paid Holidays, Vacation, Sick and Personal Days, Employee Assistance Program, 403B. Responsibilities include
                            determining clinical eligibility for
                            MassHealth-funded services for nursing facility stays and completing in-home assessment of service needs for individuals.
                        </p>

                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Requirements:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                                Excellent written, communication, and computer skills required. Geriatric/Long Term Care and community-based nursing experience preferred. Registered nurse with a valid Massachusetts license. Bachelor or Associates
                                of Science in nursing and at least three years of clinical experience in a community or long-term care setting. (BSN preferred) And/or a Diploma RN and (2) two additional years of community-based nursing or long
                                term care direct service experience.
                            </p>
                        </div>
                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Special Knowledge/Abilities for Position:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                            <ul>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent interpersonal skills; strong oral and written communication skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Commitment to working with the elderly and disabled populations; strong sensitivity to aging issues.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Leadership ability; independent thinker; self-starter.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Accurate documentation skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent clinical and social skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Proficiency in Microsoft office professional and experience using databases.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Knowledge of state and federal laws and agency regulations relating to this position.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Ability to work well with other professionals.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Effective organization and time management skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Valid driver's license</li>
                            </ul>
                            </p>
                            <h5 class="style180">Upload your resume and Cover letter</h5>
                        </div>
                    </div>
                    <hr data-aos="fade-up">
                </div>


                <div class="col-lg-12 col-md-12 d-flex align-items-stretch style149" id="bhc">
                    <div class="portfolio-info style162">
                        <h3 class="style151"> <i class="bi bi-book-half"></i> Behavioral Health Clinician - Full-Time</h3>
                        <p>
                            Seeking a dynamic, highly organized, and experienced clinician. Responsibilities will include clinical oversight of an elder mental health outreach grant, the clinical supervision of staff members, conducting clinical
                            record reviews, facilitating interdisciplinary team meetings, case consultations, collaboration with and serve as a resource for local COAs, housing authorities, EMS, etc. and providing educational training as
                            required. Must have excellent clinical and communication skills.
                        </p>

                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Requirements:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                                Master's degree from an accredited school of Social Work, LICSW and at least two years' experience in counseling or casework post licensure required.
                            </p>
                        </div>
                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Special Knowledge/Abilities for Position:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                            <ul>
                                <li><i class="bi bi-caret-right-fill"></i>Tact, discretion and confidentiality as regards sensitive Agency and Board information</li>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent interpersonal skills; strong oral and written communication skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Commitment to working with the elderly; strong sensitivity to aging issues.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Leadership ability; independent thinker; self-starter.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Demonstrated team building skills</li>
                                <li><i class="bi bi-caret-right-fill"></i>Knowledge of quality improvement programs and processes.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent Clinical and Social Work skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Proficiency in Microsoft office professional and experience using databases.</li>

                            </ul>
                            </p>
                            <h5 class="style180">Upload your resume and Cover letter</h5>
                        </div>
                    </div>
                    <hr data-aos="fade-up">
                </div>

                <div class="col-lg-12 col-md-12 d-flex align-items-stretch style149" id="ocsh">
                    <div class="portfolio-info style163">
                        <h3 class="style151"> <i class="bi bi-book-half"></i> Office Coordinator - SHINE (Full-time)</h3>
                        <p>
                            The SHINE (Serving Health Insurance Needs of Everyone) program provides free, unbiased and up-to-date health insurance information, counseling and assistance to Medicare beneficiaries of all ages and their caregivers.
                            The SHINE counselors help older
                            persons (and younger disabled Medicare beneficiaries) understand their Medicare benefits and other health insurance options. This position provides administrative assistance and clerical support to the Regional SHINE
                            Program Coordinator. In addition,
                            responsibilities include; volunteer counselor coordination and mentoring; counseling to consumers including elders and their families, caregivers, disabled Medicare beneficiaries, and low income, limited English
                            speaking and/or minority individuals.
                        </p>

                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Requirements:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                                Associates Degree preferred; three years related experience required. Ability to complete and pass SHINE training/state exam within one year, and annually thereafter.
                            </p>
                        </div>
                        <div class="portfolio-description">
                            <h2><i class="bi bi-bookmarks-fill"></i> Special Knowledge/Abilities for Position:</h2>
                            <h4>Educational/Experience Requirements:</h4>
                            <p>
                            <ul>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent interpersonal skills; strong oral and written communication skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Strong desire to work in Human Services with commitment to working with the elderly and disabled; strong awareness of and sensitivity to aging issues, ability to maintain
                                    the confidentiality of sensitive information.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Leadership ability; independent thinker; self-starter with critical thinking skills</li>
                                <li><i class="bi bi-caret-right-fill"></i>Demonstrated team building skills.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Ability to work in a fast, dynamic environment.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Knowledge of quality improvement programs and processes.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Proficiency in Microsoft Office Professional and experience using databases.</li>
                                <li><i class="bi bi-caret-right-fill"></i>Excellent organizational skills.</li>
                            </ul>
                            </p>
                            <h5 class="style180">Upload your resume and Cover letter</h5>
                        </div>
                    </div>
                    <hr data-aos="fade-up">
                </div>

            </di>

        </div>
    </section><!-- End Portfolio Details Section -->
    <br>



</main>
<!-- End #main -->

<meta name="ac:route" content="/employment">