<!-- Wappler include head-page="layouts/main" is="dmx-app" id="events" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">Events &amp; Important Information</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div data-aos="fade-up" class="portfolio-details-slider swiper-container">
                        <div class="align-items-center">
                            <div class="member-img">
                                <a href="https://whdh.com/news/striking-age-barrier-could-open-up-alzheimers-services-in-mass/">
                                    <img src="/assets/img/prereti.PNG" class="img-fluid style146" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div data-aos="fade-up" class="portfolio-info style194">
                        <h6> <i class="bi bi-calendar2-event-fill"></i> Medicare Pre-Retirement Seminar</h6>
                        <ul>
                            <li><strong><i class="bi bi-calendar-check"></i> Date:</strong> March 01 2020</li>
                            <li><strong><i class="bi bi-stopwatch-fill"></i> Time:</strong> 12:30 PM</li>
                            <li><strong> <i class="bi bi-pin-map-fill"></i> Location:</strong> 877 South,</li>
                            <li><strong> <i class="bi bi-link-45deg"></i> Link:</strong> <a href="#">www.esbci.org</a></li>
                        </ul>
                        <div class="portfolio-description">
                            <h5><i class="bi bi-three-dots-vertical"></i>Event Details</h5>
                            <p>This presentation will provide the necessary information for pre-retirees to prepare for Medicare and select the appropriate coverage for their individual situation.&nbsp;&nbsp;</p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdXwEL8UHgh3clwXzrLuiTejSKBNMzQYqMbwkCVITn9foIP_A/viewform" type="button" class="btn style148" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i> Register Here</a>
                        </div>
                    </div>

                </div>

            </div>
            <hr data-aos="fade-up">
            <di data-aos="fade-up" class="row">
                <div class="col-fluid col-xl-4 d-flex align-items-stretch">
                    <div class="portfolio-info style194">
                        <h6> <i class="bi bi-calendar2-event-fill"></i> Health Benefits University</h6>
                        <ul>
                            <li><strong><i class="bi bi-calendar-check"></i> Date:</strong> August, 2021</li>
                            <li><strong><i class="bi bi-stopwatch-fill"></i> Time:</strong> 12PM - 4PM</li>
                            <li><strong> <i class="bi bi-pin-map-fill"></i> Location:</strong> 877 South,</li>
                            <li><strong> <i class="bi bi-link-45deg"></i> Link:</strong> <a href="#">www.esbci.org</a></li>
                        </ul>
                        <div class="portfolio-description">
                            <h5><i class="bi bi-three-dots-vertical"></i>Event Details</h5>
                            <p>
                                The SHINE Program at Elder Services of Berkshire County, Inc will offer a four hour virtual training designed for health care and human service staff working with Medicare beneficiaries. Program participants will
                                learn key terminology and leave the
                                training with a working knowledge of common barriers to care that their clients face.
                            </p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScYWKCX43ghh7aGT7rmZrmCFUQcM3Ph2pmEQCiEir6nbK0IIA/viewform" type="button" class="btn style148" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i> Register
                                Here</a>
                        </div>
                    </div>
                </div>

                <div class="col-fluid col-xl-4 d-flex align-items-stretch">
                    <div class="portfolio-info style194">
                        <h6> <i class="bi bi-calendar2-event-fill"></i> Health Benefits University</h6>
                        <ul>
                            <li><strong><i class="bi bi-calendar-check"></i> Date:</strong> April 23rd 2021</li>
                            <li><strong><i class="bi bi-stopwatch-fill"></i> Time:</strong> 12PM - 4PM</li>
                            <li><strong> <i class="bi bi-pin-map-fill"></i> Location:</strong> 877 South,</li>
                            <li><strong> <i class="bi bi-link-45deg"></i> Link:</strong> <a href="#">www.esbci.org</a></li>
                        </ul>
                        <div class="portfolio-description">
                            <h5><i class="bi bi-three-dots-vertical"></i>Event Details</h5>
                            <p>
                                The SHINE Program at Elder Services of Berkshire County, Inc will offer a four hour virtual training designed for health care and human service staff working with Medicare beneficiaries. Program participants will
                                learn key terminology and leave the
                                training with a working knowledge of common barriers to care that their clients face.
                            </p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScYWKCX43ghh7aGT7rmZrmCFUQcM3Ph2pmEQCiEir6nbK0IIA/viewform" type="button" class="btn style148" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i>
                                Register
                                Here</a>
                        </div>
                    </div>
                </div>

                <div class="col-fluid col-xl-4 d-flex align-items-stretch">
                    <div class="portfolio-info style194">
                        <h6> <i class="bi bi-calendar2-event-fill"></i> Health Benefits University</h6>
                        <ul>
                            <li><strong><i class="bi bi-calendar-check"></i> Date:</strong> April 23rd 2021</li>
                            <li><strong><i class="bi bi-stopwatch-fill"></i> Time:</strong> 12PM - 4PM</li>
                            <li><strong> <i class="bi bi-pin-map-fill"></i> Location:</strong> 877 South,</li>
                            <li><strong> <i class="bi bi-link-45deg"></i> Link:</strong> <a href="#">www.esbci.org</a></li>
                        </ul>
                        <div class="portfolio-description">
                            <h5><i class="bi bi-three-dots-vertical"></i>Event Details</h5>
                            <p>
                                The SHINE Program at Elder Services of Berkshire County, Inc will offer a four hour virtual training designed for health care and human service staff working with Medicare beneficiaries. Program participants will
                                learn key terminology and leave the
                                training with a working knowledge of common barriers to care that their clients face.
                            </p>
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScYWKCX43ghh7aGT7rmZrmCFUQcM3Ph2pmEQCiEir6nbK0IIA/viewform" type="button" class="btn style148" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i>
                                Register
                                Here</a>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-fluid col-xl-4 d-flex align-items-stretch">
                        <div class="portfolio-info style195">
                            <div class="fb-page" data-href="https://www.facebook.com/BerkshireSenior" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                                data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/BerkshireSenior" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BerkshireSenior">Facebook</a></blockquote>
                            </div>
                        </div>
                    </div> -->

            </di>

        </div>
    </section><!-- End Portfolio Details Section -->
    <br>



</main>
<!-- End #main -->

<meta name="ac:route" content="/events">