<!-- Wappler include head-page="layouts/main" is="dmx-app" id="faq" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style54">Frequently asked questions</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">
            <div class="row mt-4">
                <div class="col">
                    <p data-aos="fade-up">Below are some frequently asked questions and answers about our services. If you need specific help or your question isn’t answered here, you should head to our forums. You can also read our <a href="#" class="style279">Terms
                            of Service</a> and <a href="#" class="style280">Support Policy</a> here.
                    </p>
                </div>
            </div>

            <div class="section-title">
                <!-- <h2 data-aos="fade-up">F.A.Q</h2> -->

            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse style281" data-bs-target="#faq-list-1">What does Elder Services of Berkshire County do? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>Our primary goal is to keep eligible elders and younger disabled individuals safe at home for as long as is possible. We do this by providing in home and community services. We are an Aging Services Access Point, or
                                ASAP, regulated and funded through the Massachusetts Executive Office of Elder Affairs. For a complete list of the services we offer with brief descriptions please click on the link below: </p>
                            <p><i class="bx bx-arrow"></i><a href="/services.php"><mark>click here</mark></a></p>

                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed style281">I am over 60 and I think I may need services to stay at home? What should I do? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">

                            <p class="text">
                                <i class="bi bi-pin-fill style55"></i> &nbsp; First, identify which Aging Services Access Point (ASAP) covers your town by calling us. If you are in our service area, then the process works like this:
                            </p>
                            <p class="text"><i class="bi bi-grip-horizontal style57"></i> &nbsp; Contact us by phone or have someone call for you and talk with staff in our Information and Referral Department. (If you prefer you can send us a
                                question by email.)
                                Tell us
                                about
                                your
                                situation. If you are interested in services, then you will be asked some more detailed questions related to your needs.
                            <p wappler-command="editContent"><i class="bi bi-grip-horizontal style56"></i> &nbsp; Once the referral is made, one of our case managers will contact you or a designated contact person within the next few days to set
                                up a time to
                                come to
                                your home
                                for an
                                assessment. During the assessment, the case manager will explain our eligibility standards, which include age, income, and level of frailty.
                            </p>
                            <p wappler-command="editContent"><i class="bi bi-grip-horizontal style58"></i> &nbsp; If you are eligible to become a client of Elder Services of Worcester Area, the case manager will explain the services that may be
                                beneficial to
                                you. With
                                your
                                input we
                                will
                                develop a service plan. Please click here for a complete list of the services we offer with brief descriptions.
                            </p>
                            <p wappler-command="editContent"><i class="bi bi-grip-horizontal style59"></i> &nbsp; Once services begin, your case manager will visit you to check on your status and to make sure that the services are going well.
                                Your case manager
                                is your
                                main
                                contact
                                person for the services and other concerns you may have, and will visit you on a regular, ongoing basis.</p>
                            </p>

                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed style281">What is an Aging Services Access Point? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Aging Services Access Points are agencies like ours, who coordinate services in communities across Massachusetts. To find out if your town is in our service area, check the map by cliking here.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed style281">Do I pay for these services? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Most of our clients pay a relatively small monthly fee based on their income. The income scale was developed by the Massachusetts Executive Office of Elder Affairs. Clients who have
                                Medicaid coverage are not charged a fee; otherwise, elders pay a graduated fee based upon their annual income. We suggest that you contact us with any questions.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed style281">Does Elder Services of Berkshire County hire its own workers? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                No. We contract with providers to deliver services to elders.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-up" class="style66">Send us any Question</h2>
                <p data-aos="fade-up">Elder Services’ Information and Referral Department (I&R) can connect you to many available resources to find help for aging family members or yourself. Call 413-499-0524 and ask for I&R.</p>
            </div>

            <!-- <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>info@example.com<br>contact@example.com</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
            </div>
          </div>
        </div> -->

            <div class="row justify-content-center style67" data-aos="fade-up" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/faq">