<!-- Wappler include head-page="layouts/main" is="dmx-app" id="home_care_service" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">HOME CARE SERVICES</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">Home Care Program.</a></h4>
                        <p class="description style269">
                            Elder Services of Berkshire County provides a variety of in-home services designed to enable an elder to remain independent at home.<br>
                            When an illness or disability strikes, or when your ability to perform the normal activities of daily living diminishes, there may be the need for a variety of Home Care Services that will allow you to remain at home
                            or return home.
                            We take referrals from elders, families, concerned community members and agencies. We make every attempt to refer you to appropriate resources when Elder Services of Berkshire County is unable to provide services.
                        </p>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/serv1.jpg" class="alt">
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="100">
                    <img src="/assets/img/download.jpg" class="alt img-fluid">
                </div>
            </div>



        </div>
    </section><!-- End Services Section -->


    <!-- <section id="about" class="about section-bg">
      <div class="container">

        <div class="row">
          <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
            <img src="/assets/img/Australia-Home-Care-min.jpg" class="img-fluid col-xl-12">
          </div>

          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">

            <h3 data-aos="fade-up">THESE ARE SOME OF THE SERVICES WE PROVIDES:<br>
              <hr>
            </h3>
            <p data-aos="fade-up">Assisting elders, individuals with disabilities, and their families in accessing a comprehensive range of services that support older adults and individuals with disabilities so that they can maintain well-being and
              independence in the community.</p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-people"></i></div>
              <h4 class="title">The Family Caregiver Support Program</h4>
              <p class="description">The Family Caregiver Support Program is available to help caregivers in need of assistance and support.</p>
            </div>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-house-fill"></i></div>
              <h4 class="title">The Gallagher Alzheimer’s Resource</h4>
              <p class="description">The Gallagher Alzheimer’s Resource Center is available on site at Elder Services</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-heart-half"></i></div>
              <h4 class="title">Respite Services</h4>
              <p class="description">Respite services offer temporary or intermittent care for dependent adults</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-info-circle"></i></div>
              <h4 class="title">Information&nbsp;</h4>
              <p class="description">About the resources available and referrals to the specific services and programs that meet your needs</p>

            </div>


          </div>
        </div>

      </div>
      <br>
      <br>
    </section> -->
    <!-- End About Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Eligibility Requirements for Home Care Services</h2>
                <h5 class="style76">Home Care services is based on three criteria:</h5>
                <br>
                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/application_aterials_forms.php" class="btn-get-started scrollto">The person needs assistance with at least six activities of daily living.</a>
                </div>

                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/application_aterials_forms.php" class="btn-get-started scrollto">The person must have at least one critical need for assistance that is not being met by another person or agency.</a>
                </div>

                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/application_aterials_forms.php" class="btn-get-started scrollto">Clients must be 60 years of age or older, unless they have a diagnosis of Alzheimer’s Disease or a related disorder.</a>
                </div>

            </div>


            <div data-aos="fade-up" class="section-title">
                <h5 class="style76">Critical Needs:</h5>
                <p class="style75">Bathing, dressing, eating, toileting, walking, transferring from bed to chair, meal preparation, food shopping, transportation to chemotherapy, dialysis, and radiation treatments.</p>

                <h5 class="style76">Non-Critical Needs:</h5>
                <p class="style77">Laundry, housework, taking medication.
                    In addition, there are some other factors we are required to take into consideration when determining eligibility. Once Home Care services are requested, a Home Care case manager will conduct an assessment.
                </p>

            </div>

            <div data-aos="fade-up" class="section-title">
                <h2 class="style73">Home Care Service Options:</h2>

                <div class="row">
                    <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style111">
                        <div id="about" class="about section-bg">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bi bi-people"></i></div>
                                <h4 class="title">Homemaking</h4>
                                <p class="description">Laundry, shopping, housework and in some cases, meal preparation.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up">
                                <div class="icon"><i class="bi bi-house-fill"></i></div>
                                <h4 class="title">Personal Care</h4>
                                <p class="description">&nbsp;Assistance with dressing, bathing, and personal hygiene.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bi bi-heart-half"></i></div>
                                <h4 class="title">Adult Day Health/Social Day Care</h4>
                                <p class="description">A daytime program with nursing supervision, a hot meal and personal care as needed.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bi bi-info-circle"></i></div>
                                <h4 class="title">Home Delivered Meals</h4>
                                <p class="description">A hot noon meal delivered to the elder’s home.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style112">
                        <div id="about" class="about section-bg">
                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bi bi-people"></i></div>
                                <h4 class="title">Personal Emergency Response</h4>
                                <p class="description">A device which can summon emergency assistance 24 hours a day.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up">
                                <div class="icon"><i class="bi bi-house-fill"></i></div>
                                <h4 class="title">Chore Service</h4>
                                <p class="description">Assistance with heavier household chores, such as window washing, carpet/oven cleaning, refrigerator defrosting.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bi bi-heart-half"></i></div>
                                <h4 class="title">Companion</h4>
                                <p class="description">An elder who visits weekly, helping with errands, correspondence, taking the client to appointments, and providing ongoing companionship.</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bi bi-info-circle"></i></div>
                                <h4 class="title">Transportation Services</h4>
                                <p class="description">Coordination and access to transportation including medical visits.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up" class="section-title">
                <h2 class="style73">Respite Services</h2>
                <p class="style75">Respite services, which do not have income limits, are also available to assist caregivers.
                    The goal is to relieve the stress and fatigue caused as a result of daily care of an elder with multiple impairments. Respite program services are arranged by Case Management and parallel the services available
                    for the Home Care Program.</p>
            </div>

            <div data-aos="fade-up" class="section-title">
                <h2 class="style73">Eligibility Requirements for Respite Care</h2>
                <ul>
                    <li>Clients must be 60 years of age or older, unless they have a diagnosis of Alzheimer’s Disease or a related disorder.</li>
                    <li>There is no income eligibility determination for Respite Care. All Respite clients must pay a co-payment, depending on income level, however, all Respite cases pay less than private rates and get free case management.
                        Income for the
                        respite co-payment fee is determined by the sum of the income of the client and spouse (if any).</li>
                    <li>There must be a complaint of stress on the part of the caregiver(s). We are not allowed to accept a referral for respite services for an elder who will soon move to the area; the stress of care giving cannot occur before
                        the care itself.</li>
                    <li>We cannot provide respite services to assist a paid caregiver.</li>
                    <li>We cannot provide respite services primarily so that the caregiver(s) can work.</li>
                    <li>Respite workers must replace tasks that a caregiver performs. For instance, if the caregiver does not provide personal care for the client, the Respite worker cannot provide personal care.</li>
                    <li>Elder Services Respite clients may receive some respite every week, or more intensive blocks of services may be provided periodically on a short-term basis.</li>
                </ul>
            </div>
            <hr>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <h2 class="style66"> REFERRALS | HOME CARE SERVICES INQUIRY</h2>
                <p>Referrals can be made to the Home Care Program by calling<strong> (413) 499-0524</strong> or <strong>1-800-544-5242</strong>, <strong>Monday through Friday from 8:30 a.m. to 5:00 p.m</strong> . An Intake and Information
                    Specialist
                    completes a basic
                    telephone screening for eligibility.
                    Once initial eligibility is determined, a Case Manager makes a home visit to assess the needs of the older person. If eligibility requirements are met and the elder agrees to accept services, an initial home care service plan
                    is discussed
                    during the home visit. Other available community services or public benefits are also reviewed. The final service plan is later developed in consultation with a nurse and supervisor. The Case Manager then sets up services and
                    monitors and
                    evaluates the service plan. Clients make co-payments for services based on client income and a sliding fee scale set by the state. There are no co-payments for Medicaid recipients.</p>
            </div>

        </div>
    </section><!-- End Contact Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/home_care_service">