<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container-fluid style253" data-aos="fade-in">
        <div class="row style252">
            <div class="col-break w-100"><img src="/assets/img/logo/newlo1.png" class="style1 fluid w-0 img-fluid w-25" alt="image" id="esbcilogo" loading="lazy"></div>
            <div class="col-break w-100">
                <h2 class="style2">Proudly Promoting Elder Independence Since 1974</h2>
            </div>
            <div class="col-break w-100">
                <h5 class="style3">Elder Services is a non-profit organization providing a wide variety <br> of services to the elders of Berkshire County and their families.</h5>
                <h5 class="style301">Berkshire County’s Aging Services Access Point</h5>
                <h5 class="text-light">Convenient access to such resources as enhanced elder nutrition,<br> housing options, in-home and protective services, nursing home<br> ombudsman, and information on elder programs and services throughout the state.</h5>
            </div>
        </div>
    </div>
</section>
<!-- Wappler include head-page="layouts/main" is="dmx-app" id="index" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" components="{dmxSwiper:{},dmxSlideshow:{}}" -->

<meta name="ac:route" content="/">