<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">Information <span class="special_amp">&amp;</span> Referral</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-lg-9 aos-init aos-animate col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-info-circle-fill"></i></div>
                        <h4 class="title"><a href="">New to Elder Services? Start here.</a></h4>
                        <p class="description">The Information and Referral (I&R) Department is a comprehensive information resource for questions about:
                            <strong>home care services,
                                public benefits,
                                housing options,
                                transportation,
                                nutrition,
                                and much more.</strong>
                            After assessing a caller’s needs, knowledgeable I&R Specialists access their large resource database to help connect people with the appropriate information, services, and agencies to address their specific issues
                            and
                            concerns.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </section><!-- End Services Section -->


    <section id="about" class="about section-bg">
        <div class="container-fluid">
            <div class="row justify-content-center text-center">


                <div class="col-xxl col mb-xxl-n3">
                    <div class="row">
                        <div class="col"><a><img src="/assets/img/iandrimgpng.png"></a></div>
                        <div class="col">
                            <h3>To contact I&amp;R call:</h3>
                            <p>(800) 544-5242 (in state)
                            </p>
                            <p wappler-command="editContent">(413) 499-0524
                            </p>
                            <p wappler-command="editContent">(413) 499-9764 TTY
                            </p>
                            <p wappler-command="editContent">Monday – Friday, 8 AM – 5 PM or email</p>
                            <p></p>
                        </div>
                    </div>

                </div>

                <div class="col-break w-100 mt-xxl-4">
                    <p>Click <a href="#">here </a>for a list of Programs and Services offered by ESBCI. Clicking ‘here’ will bring website consumers to Programs and Services</p>
                </div>
                <div class="col">
                    <h3>Programs and Services</h3>
                    <p>Chart, including direct link to program and summary of services</p>
                </div>
            </div>

            <div class="row justify-content-center">






                <!-- <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    
                    <h3 data-aos="fade-up">The I&R Department also serves as a single point of entry for ESBCI programs.<br>
                        <hr>
                    </h3>
                    <p data-aos="fade-up">Assisting elders, individuals with disabilities, and their families in accessing a comprehensive range of services that support older adults and individuals with disabilities so that they can maintain
                        well-being and
                        independence in the community.</p>

                    <div class="icon-box" data-aos="fade-up">
                        <div class="icon"><i class="bi bi-binoculars-fill"></i></div>
                        <h4 class="title"><a href="">I</a>nformation Access</h4>
                        <p class="description">If it appears you, or the person you are calling on behalf of, might be eligible for some of ESBCI’s state-subsidized services, we'll ask you some questions and make a referral to a specific program.
                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bi bi-check-circle"></i></div>
                        <h4 class="title"><a href="">W</a>hat You Need</h4>
                        <p class="description">After the information is gathered, I&amp;R routes the referral to the appropriate program within the agency.</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bi bi-telephone-inbound-fill"></i></div>
                        <h4 class="title">To contact I&amp;R call:</h4>
                        <p class="description">For support 7 days a week 8am-8pm, try MassOptions!</p>
                        <div class="description">
                            <i class="bi bi-telephone-inbound"></i>&nbsp; 1-(413) 499-0524
                            <i class="bi bi-telephone-inbound"></i>&nbsp; 1-(800) 544-5242
                            <i class="bi bi-telephone-inbound"></i>&nbsp; 1-(413) 442-6443<br>
                            <i class="bi bi-telephone-inbound"></i>&nbsp; 1-(413) 499-9764
                            <i class="bi bi-envelope-fill"></i>&nbsp; Esbci@esbci.org
                        </div>

                    </div>


                </div> -->
                <div class="col-break shadow w-75">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Aging and Disability Resource Consortium (ADRC)</th>
                                    <td>Berkshire's Aging and Disability Resource Consortium.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Alzheimer's Resources</th>
                                    <td>The Gallagher Alzheimer’s Resource Center is available on site at Elder Services, 877 South Street, and includes books, brochures, and other related resources on Alzheimer’s disease, dementia, and caregiving.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Caregiver Support</th>
                                    <td>Elder Services has support groups and respite services for caregivers.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Clinical Assessment &amp; Eligibility Department (CAE)</th>
                                    <td>Medicaid recipients twenty-two years of age and older seeking admission to a nursing home must be medically approved (screened) by the CAE Department at Elder Services of Berkshire County.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Meals-On-Wheels</th>
                                    <td>The Meals on Wheels program provides homebound elders with a nutritious, hot meal once a day at the noon hour.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Options Counseling</th>
                                    <td>We assist individuals in need of long-term care services to make informed choices about the services and settings that best meet their needs.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Money Management</th>
                                    <td>Trained, insured, and supervised volunteers are matched one-on-one with elders needing assistance with managing household finances.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nursing Home Ombudsman</th>
                                    <td>Elder Services Ombudsman Program oversees 15 nursing and rest homes in Berkshire County. Our state certified volunteers visit each facility once a week.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nutrition</th>
                                    <td>The nutrition program includes: Home Delivered Meals, Emergency Meals and Senior Dining Centers. Meals are well-balanced and nutritious. All programs have Registered Dietitian oversight. <a href="#">Click here</a> for a menu offerings by month.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Prescription Advantage</th>
                                    <td>A prescription drug insurance program for all Massachusetts residents age 65 and over and low-income individuals with disabilities under the age of 65.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Protective Services</th>
                                    <td>Assistance to those 60 and older who are victims of abuse, neglect, financial exploitation by another person, or are self-neglecting. Contact Protective Services through their state-wide toll free line at 1-800-922-2275.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Senior Dining Centers</th>
                                    <td>We offer Congregate Meal Sites providing nutritious hot lunches at numerous locations.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Senior Employment (SCSEP)</th>
                                    <td>The SCSEP mission is to provide job training and placement for individuals age 55 or older with limited financial resources and to provide employers with trained, motivated workers.</td>
                                </tr>
                                <tr>
                                    <th scope="row">SHINE/Serving Health Insurance Needs of Everyone</th>
                                    <td>The SHINE program provides free, unbiased and up-to-date health insurance information, counseling and assistance to Medicare beneficiaries of all ages and their caregivers.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Staying Home | Homecare Services</th>
                                    <td>In-home services including homemaker, personal care, laundry, meals, and adult day health, are determined by an in home eligibility assessment of impairment level and needs.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Subgrants</th>
                                    <td>With funding from Title III of the Older Americans Act, Elder Services offers a limited number of Subgrants to local organizations to fund services and workshops.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Supportive Housing Programs</th>
                                    <td>Group Adult Foster Care, and Providence Court.<br></td>
                                </tr>
                                <tr>
                                    <th scope="row">Transportation</th>
                                    <td>Volunteers who are trained, screened and supervised provide rides free of charge to medical appointments and shopping.</td>
                                </tr>
                                <tr>
                                    <th scope="row">Volunteer Services</th>
                                    <td>Are you interested in becoming a volunteer? No matter how much time you have to offer, Elder Services has plenty of volunteer opportunities!&nbsp;&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <br>
    </section><!-- End About Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container-fluid style266">
            <div class="row style267">
                <div class="col-break w-100">
                    <h2 data-aos="fade-up" class="style66">INFORMATION & REFERRAL INQUIRY</h2>
                </div>
                <div class="col-break w-100">
                    <p data-aos="fade-up">Elder Services’ Information and Referral Department (I&R) can connect you to many available resources to find help for aging family members or yourself. Call 413-499-0524 and ask for I&R.</p>
                </div>

            </div>

            <div class="section-title">


            </div>
            <div class="row justify-content-center style67 row-cols-8" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-9 aos-init aos-animate col-md-12">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/information_referral">