<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style78">For Providers</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <!-- <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
            <a><img src="/assets/img/nj1.jpg"></a>
          </div> -->

                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style62">
                    <div class="section-title">
                        <h2 data-aos="fade-up" class="style79">REQUEST FOR PROPOSALS FOR PURCHASED SERVICE AGREEMENTS NON-HOMEMAKER/PERSONAL CARE SERVICES
                        </h2>
                    </div>
                    <div data-aos="fade-up">
                        <p>Elder Services of Berkshire County, Inc. is conducting an open bid for the purchase of the following services for its State Home Care Program: Homemaker/Personal Care, Home Health Service (including Home Health Aide,
                            Skilled Nursing Services, Occupational Therapy, Physical Therapy and Speech Therapy), Chore, Companion, Emergency Shelter, Short Term Respite Care, Supportive Day Programs, Personal Emergency Response System (PERS),
                            Enhanced PERS,
                            Cellular PERS, Fiscal Intermediary, Bill Payer Services, Adaptive Housing/Durable Medical Equipment, Behavioral Health Services, Vision Rehabilitation, Translation/Interpreting Services, Habilitation Therapy
                            (Alzheimer’s Coaching),
                            Laundry, Adult Day Health, Supportive Home Care Aide, Transportation, Medication Dispensing System, Wanderer Locator Service, Grocery Shopping and Delivery, Dementia Day Care, Alzheimer’s Day Care, Home Delivery of
                            Pre-Packaged
                            Medication, Peer Support COAPS, Supportive Home Care Aide, Behavioral Health Services, Vision Rehabilitation, Environmental Accessibility Adaptions, Evidence Based Program.</p>
                        <p>Geographic area served by ESBCI includes: All of Berkshire County including but not limited to: Adams, Alford, Becket, Cheshire, Clarksburg, Dalton, Egermont, Florida, Great Barrington, Hancock, Hinsdale, Lanesborough,
                            Lee, Lenox,
                            Monterey, Mount Washington, New Ashford, New Marlborough, North Adams, Otis, Peru, Pittsfield, Richmond, Sandisfield, Savoy, Sheffield, Stockbridge, Tyringham, Washington, Williamstown and Windsor.</p>
                    </div>

                    <div data-aos="fade-up">
                        <a>
                            <p class="style80">Please note that Homemaker/Personal Care Homemaker services require completion of a separate and distinct set of application materials - the Homemaker Notice of Intent to Contract (NOI) – to be
                                posted under the “For
                                Professionals”
                                link at www.800AgeInfo.com</p>
                        </a>
                    </div>
                    <hr>
                    <div data-aos="fade-up">
                        <h4 class="text-success">DEADLINE FOR SUBMISSION OF APPLICATIONS</h4>

                        <p>Provider agencies must submit necessary application materials <strong>no later than 5:00 PM, Tuesday June 1, 2021</strong></p>

                        <div id="contact" class="contact">

                            <div class="row justify-content-center">

                                <div class="col-lg-4 mt-4 aos-init aos-animate col-xl-4" data-aos="fade-up">
                                    <div class="info-box">
                                        <i class="bx bx-map"></i>
                                        <h3 class="style82">Address</h3>
                                        <p>877 South Street, Suite 4E Pittsfield MA 01201</p>
                                    </div>
                                </div>

                                <div class="col-lg-4 mt-4 aos-init aos-animate col-xl-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="info-box">
                                        <i class="bx bx-envelope"></i>
                                        <h3 class="style81">Attention&nbsp;</h3>
                                        <p>Michelle McMurray<br>Contracts Administrator</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 mt-4 aos-init aos-animate col-xl-4" data-aos="fade-up" data-aos-delay="200">
                                    <div class="info-box">
                                        <i class="bx bx-phone-call"></i>
                                        <h3>CONTACT</h3>
                                        <p>+1 (413) 499-0524<br>+1 (800) 544-5242</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4 class="text-success">REQUIRED SUBMISSIONS</h4>
                        <p>Required submissions depend upon the type and combination of services an agency proposes to provide. Elements highlighted in yellow are documents available on this site.</p>
                        <ul>
                            <li>Homemaker/Personal Care Services ONLY: <a href="#" class="style263">RFP FY 2022 Checklist Homemaker Personal Care Services ONLY.doc</a></li>
                            <li>NON-Homemaker/Personal Care Services ONLY: <a href="#" class="style264">RFP FY 2022 Checklist NON-Homemaker Personal Care Services ONLY.doc</a></li>
                            <li>BOTH Homemaker/Personal Care and NON-Homemaker/Personal Care Services: <a href="#" class="style265">RPF FY 2022 Checklist for BOTH Homemaker Personal Care and NON-Homemaker Personal Care Services.doc</a></li>
                        </ul>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4 class="text-success">REVIEW OF APPLICATIONS</h4>
                        <p>Proposals will first be reviewed by Elder Services of Berkshire County, Inc. Staff and the Board of Directors Client Services Committee. The Board of Directors will then make the final decision based upon factors deemed
                            appropriate
                            by the agency and it’s Board of Directors, including the following criteria:</p>
                        <ul>
                            <li>Proposal package completion</li>
                            <li>Experience and references of responding agency</li>
                            <li>Monitoring and evaluation results for currently contracted providers</li>
                            <li>Client satisfaction for currently contracted providers</li>
                            <li>Ability to respond to ESBCI’s service requests
                            <li>Cost per unit of service</li>
                            </li>
                        </ul>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4 class="text-success">AWARD OF CONTRACTS</h4>
                        <p>Elder Services of Berkshire County, Inc. reserves the right to reject any or all proposals or call for new proposals. </p>
                        <p>Agencies chosen to provide services will be required to enter into a written Agreement with Elder Services of Berkshire County, Inc. Examples of this format are available upon request. Elder Services of Berkshire
                            County, Inc. will
                            enter into Agreements with more than one (1) provider for the same service. Elder Services of Berkshire County, Inc. does not guarantee a level of services to be provided under an Agreement. All services delivered to
                            clients pursuant
                            to these Agreements must be authorized by Elder Services of Berkshire County, Inc. staff that are solely responsible for the determination of client eligibility and level of service.</p>
                        <p>Contracts will be awarded to successful applicants from the period of October 1, 2021 to September 30, 2024 with subsequent renewals possible. </p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4 class="style83">Service Specific Attachments/Forms</h4>

                        <div id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a href="/application_materials_forms.php" class="btn-get-started scrollto">View All Forms</a>
                        </div>

                        <!-- <ul>
                <a href="">
                  <li>Administrative Overview</li>
                </a>
                <a href="">
                  <li>Assurances and Certifications</li>
                </a>
                <a href="">
                  <li>RFP FY 2022 Checklist for Both Homemaker Personal Care and NON-Homemaker Personal Care Services</li>
                </a>
                <a href="">
                  <li>RFP FY 2022 Checklist Homemaker Personal Care Services ONLY</li>
                </a>
                <a href="">
                  <li> RFP FY 2022 Checklist NON-Homemaker Personal Care Services ONLY</li>
                </a>
                <a href="">
                  <li>RFP OPEN BID Instructions</li>
                </a>
                <a href="">
                  <li>RFP FY 2022 SERVICE DEFINITIONS</li>
                </a>
                <a href="">
                  <li>Service Area Listing</li>
                </a>
                <a href="">
                  <li>W-9 Form</li>
                </a>
                <a href="">
                  <li>Legal Notice</li>
                </a>
              </ul> -->

                    </div>




                </div>


            </div>

        </div>
    </section><!-- End About Section -->


</main>
<!-- End #main -->

<meta name="ac:route" content="/information_for_providers">