<!-- Wappler include head-page="layouts/main" is="dmx-app" id="leadership" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="style49 font-weight-bolder">LEADERSHIP</h2>
                </div>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 pt-2 pb-2">
                    <h2 data-aos="fade-up" class="style65 font-weight-bold">Senior Management</h2>
                </div>
                <div class="col">
                    <p data-aos="fade-up">As an Aging Services Access Point, Elder Services of Berkshire County Inc. is mandated by the Massachusetts Executive Office of Elder Affairs to have 50% or more of our Board of Directors appointed
                        by local municipal Councils on Aging. Also, 50% or more of our Board of Directors must be 60 years of age or older.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/team/CHRIST.JPG" class="img-fluid" alt="">
                            <!-- <div class="social">
                                    <span>Executive Director</span>
                                </div> -->
                        </div>
                        <div class="member-info style196">
                            <h4>Christopher Mclaughlin</h4>
                            <span>Executive Director</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/team/DSC_0164.JPG" class="img-fluid" alt="">
                            <!-- <div class="social">
                                    <span>Client Services Director</span>
                                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Maureen Tuggey</h4>
                            <span>Client Services Director</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/team/mkimfiscal.jpg" class="img-fluid" alt="">
                            <!-- <div class="social">
                                    <span>Fiscal Director</span>
                                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Mark Kim</h4>
                            <span>Fiscal Director</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/team/christineclinical.jpg" class="img-fluid" alt="">
                            <!-- <div class="social">
                                    <span>Clinical Services Director</span>
                                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Christine Thomson</h4>
                            <span>Clinical Services Director</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container">
            <hr>
            <div class="row">
                <div class="col">
                    <h2 data-aos="fade-up" class="style65 font-weight-bold">Board of Directors</h2>
                </div>
            </div>

            <div class="section-title">
                <hr>

            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod8.png" class="img-fluid" alt="">
                            <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>President</h4>
                            <span class="style53"><i class="bi bi-geo-alt"></i>Pittsfield</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod1.png" class="img-fluid" alt="">
                            <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Vice President</h4>
                            <span class="style53"><i class="bi bi-geo-alt"></i> Pittsfield</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod3.png" class="img-fluid" alt="">
                            <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Treasurer</h4>
                            <span class="style53"><i class="bi bi-geo-alt"></i> Adams</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod4.png" class="img-fluid" alt="">
                            <!-- <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div> -->
                        </div>
                        <div class="member-info">
                            <h4>Clerk</h4>
                            <span class="style53"><i class="bi bi-geo-alt"></i> Dalton</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod5.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Cheshire</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod6.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Lee</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod7.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Lee</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod2.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Pittsfield</i> </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod9.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Lenox</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod10.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Cheshire</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod11.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Lee</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod12.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Great Barrington</i> </h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod13.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Pittsfield</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod14.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Lanesborough</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod15.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Pittsfield</i> </h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="member">
                        <div class="member-img">
                            <img src="/assets/img/bod17.png" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4><i class="bi bi-geo-alt"> Great Barrington</i> </h4>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/leadership">