<!-- Wappler include head-page="layouts/main" is="dmx-app" id="long_term_ombudsman_program" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style123">Long Term Ombudsman Program</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title">What is a Long-Term Care Ombudsman?&nbsp;</h4>
                        <p class="description">An Ombudsman is a person who visits nursing home residents with the goal of advocating for and enhancing their quality of life. The team of Ombudsmen provide services for 13 nursing homes in Berkshire County.&nbsp;</p>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up">
            </div>

        </div>
    </section><!-- End Services Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Residents may talk to ombudsmen about:&nbsp;</h2>
                <ul class="list-group">
                    <li class="list-group-item">Rights and responsibilities as a resident&nbsp;</li>
                    <li class="list-group-item">Loss of personal items&nbsp;</li>
                    <li class="list-group-item">Conflicts with staff&nbsp;</li>
                    <li class="list-group-item">Facility policies, and more</li>
                </ul>
            </div>
            <p>Ombudsmen help to educate long term care residents about their rights and seek to empower residents to become more active in resolving their concerns. Ombudsman volunteers help to reduce the isolation and loneliness experienced by many residents who have no family or friends involved in their lives.&nbsp;</p>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Who does the Long Term Care Ombudsman program serve?&nbsp;</h2>
                <p class="style75">Long Term Care Ombudsmen work with nursing home residents, as well as with their families and friends on behalf of the resident. Services and all conversations with ombudsmen are confidential. Ombudsmen are trained in areas like nursing facility regulations, negotiating and more. They are assigned to specific nursing homes and visit each site weekly. Services are provided free of charge to residents and their families and friends.&nbsp;</p>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <h5 class="style76 text-uppercase fw-bolder pb-4">To contact the Ombudsman Program for nursing home concerns, or if you are interested in volunteering, please call (413) 499-0524 x726.&nbsp;&nbsp;</h5>
            <div data-aos="fade-up" class="section-title">
                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/assets/pdf/volunteerapplication.pdf" class="btn-get-started scrollto">Become A Volunteer </a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Important links and phone numbers:&nbsp;</h4>
                    <p>Executive Office of Elder Affairs (800) 243-4636
                    <p wappler-empty="undefined" wappler-command="editContent">
                    </p>
                    <p wappler-command="editContent"><a href="#">Department of Public Health</a> (800) 462-5540</p>
                    <p wappler-command="editContent"><a href="#">Center for Medicare and Medicare Services</a> (800) 633-4227&nbsp;</p>
                    <p wappler-empty="undefined" wappler-command="editContent">
                    </p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="fw-bolder">List of Berkshire County Nursing Homes</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Facility Name </th>
                                    <th scope="col">Facility Address </th>
                                    <th scope="col">Phone Number </th>
                                    <th scope="col">Number of Beds&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Berkshire Health Care and Rehabilitation Center <a href="#">https://berkshirerehabilitation.com/</a>&nbsp;&nbsp;</th>
                                    <td>7 Sandisfield Road
                                        <br>&nbsp;Sandisfield, MA 01255
                                    </td>
                                    <td>413-258-4731 </td>
                                    <td>54 </td>
                                </tr>
                                <tr>
                                    <th scope="row">Berkshire Place
                                        <br><a href="#">https://berkshireplace.com/&nbsp;</a>
                                    </th>
                                    <td>89 South Street Pittsfield, MA 01201 </td>
                                    <td>413-445-4056 </td>
                                    <td>57</td>
                                </tr>
                                <tr>
                                    <th scope="row">Craneville Place BaneCare - Craneville Place Skilled Nursing Home Rehabilitation </th>
                                    <td>265 Main Street Dalton, MA 01226 </td>
                                    <td>413-684-3212 </td>
                                    <td>89 </td>
                                </tr>
                                <tr>
                                    <th scope="row">Fairview Commons Nursing &amp; Rehabilitation Center Skilled Nursing and Rehabilitation | Fairview Commons </th>
                                    <td>151 Christian Hill Road Great Barrington, MA. 01230 </td>
                                    <td>413-528-4560 </td>
                                    <td>180</td>
                                </tr>
                                <tr>
                                    <th scope="row">Hillcrest Commons Nursing &amp; Rehabilitation Center Skilled Nursing and Rehabilitation | Hillcrest Commons </th>
                                    <td>169 Valentine Road Pittsfield, MA 01201 </td>
                                    <td>413-445-2300 </td>
                                    <td>265</td>
                                </tr>
                                <tr>
                                    <th scope="row">Kimball Farms Health Care Center Skilled Nursing and Rehabilitation | Kimball Farms Nursing Care Center </th>
                                    <td>40 Sunset Avenue Lenox, MA 01240 </td>
                                    <td>413-637-5011 </td>
                                    <td>74</td>
                                </tr>
                                <tr>
                                    <th scope="row">Lee Healthcare <a href="#">https://www.nextstephc.com/ </a></th>
                                    <td>620 Laurel Street Lee, MA 01238 </td>
                                    <td>413-243-2010 </td>
                                    <td>88</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mount Greylock Extended Care Facility Skilled Nursing and Rehabilitation | Mount Greylock (<a href="#">mountgreylockextendedcare.org</a>)</th>
                                    <td>1000 North Street Pittsfield, MA 01201 </td>
                                    <td>413-499-7186 </td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <th scope="row">Mount Carmel Center of Lenox <a href="#">https://mountcarmelcare.org/ </a></th>
                                    <td>320 Pittsfield Road Lenox, MA 01240 </td>
                                    <td>413-637-2660 </td>
                                    <td>69</td>
                                </tr>
                                <tr>
                                    <th scope="row">North Adams Commons Nursing and Rehabilitation Center <a href="#">https://northadamscommons.org/ </a></th>
                                    <td>175 Franklin Street North Adams, MA 01247 </td>
                                    <td>413-664-4041 </td>
                                    <td>119</td>
                                </tr>
                                <tr>
                                    <th scope="row">Springside, LLC BaneCare - Springside Skilled Nursing Home Rehabilitation </th>
                                    <td>255 Lebanon Avenue Pittsfield, MA 01201 </td>
                                    <td>413-499-2334 </td>
                                    <td>112</td>
                                </tr>
                                <tr>
                                    <th scope="row">Timberlyn Heights Timberlyn Heights Nursing and Rehabilitation - Bear Mountain Health Care (<a href="#">bearmountainhc.com</a>)</th>
                                    <td>320 Maple Avenue, Great Barrington, MA 01230 </td>
                                    <td>413-528-2650 </td>
                                    <td>71</td>
                                </tr>
                                <tr>
                                    <th scope="row">Williamstown Commons Nursing &amp; Rehabilitation Center
                                        <br><a href="#">https://williamstowncommons.org/</a>&nbsp;
                                    </th>
                                    <td>25 Adams Road Williamstown, MA 01247 </td>
                                    <td>413-458-2111 </td>
                                    <td>180</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="row justify-content-center style67" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/long_term_ombudsman_program">