<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" components="{dmxBootstrap5Navigation:{}}" -->
<section id="breadcrumbs" class="breadcrumbs" style="position: sticky;">
    <div class="container">
        <h1 class="style123">Money Management</h1>
    </div>
</section>


<!-- End Breadcrumbs -->
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <hr class="style290">
                    <p class="style296">
                        The Money Management Program is offered free of charge and assists seniors and individuals with disabilities with managing their household finances. This can include sorting and organizing mail, preparing checks to pay bills, balancing their checkbooks, and establishing a workable budget. Program participants maintain control over their own finances in accordance with our mission to promote opportunities to live with dignity, independence, and to achieve the highest possible quality of life.
                    </p>
                    <hr class="style290">
                    <!-- <div class="icon-box">
                        
                        <p class="style288">The Money Management Program is offered free of charge and assists seniors and individuals with disabilities with managing their household finances. This can include sorting and organizing mail, preparing checks to pay bills, balancing their checkbooks, and establishing a workable budget. Program participants maintain control over their own finances in accordance with our mission to promote opportunities to live with dignity, independence, and to achieve the highest possible quality of life.</p>
                    </div> -->
                </div>

            </div>

            <div data-aos="fade-up">
            </div>

        </div>
    </section><!-- End Services Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72 text-capitalize pt-3">How can I receive assistance from this program?</h2>

                <p class="style297">
                    Contact the Money Management Program at 413-499-0524 to be screened for eligibility and to receive additional information.
                </p>
            </div>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72 text-capitalize">Interested in becoming a Money Management Volunteer?</h2>
                <p class="style298">
                    By becoming an ESBCI Money Management Volunteer, you will provide critical support to seniors who find themselves unable to keep track of their finances due to impairment in manual dexterity, vision, or cognitive functioning. Volunteers develop a meaningful partnership with program participants and can have a life-changing impact in as little as two hours a month.
                </p>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                </p>
            </div>

        </div>
    </section><!-- End Contact Section -->

</main>

<!-- End #main -->

<meta name="ac:route" content="/money_management">