<!-- Wappler include head-page="layouts/main" is="dmx-app" id="news" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">Berkshire Senior News</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section id="about" class="team section-bg">
        <div class="container">

            <!-- <div data-aos="fade-up">
                    <span>News, information and resources geared towards senior citizens and their caregivers, in the Berkshires and beyond.</span>
                </div> -->
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-6 d-flex align-items-stretch style164" data-aos="fade-up">
                    <div class="member style165">
                        <div class="member-img">
                            <a href="https://issuu.com/newenglandnewspapers/docs/berkshire_senior_june-july_2021">
                                <img src="/assets/img/Bekshiresenoir_jun.PNG" class="img-fluid style147" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4>Striking age barrier could open up Alzheimer’s services in Mass.</h4>
                            <i class="bi bi-newspaper"></i>
                            <span class="style53"> People who have been diagnosed with early-onset Alzheimer’s disease and caregivers to others with the neurologic disorder asked lawmakers Monday to remove the age requirement
                                to
                                qualify for certain in-home services, making them accessible to people younger than 60 who are living with Alzheimer’s.</span>
                            <a href="https://issuu.com/newenglandnewspapers/docs/berkshire_senior_june-july_2021" type="button" class="btn style48" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i>
                                Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member style165">
                        <div class="member-img">
                            <a href="https://issuu.com/newenglandnewspapers/docs/berkshire_senior_april_2021">
                                <img src="/assets/img/Bekshiresenoir_april.PNG" class="img-fluid style147" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4>8 ways the pandemic may lastingly change life and work in Massachusetts</h4>
                            <i class="bi bi-newspaper"></i>
                            <span class="style53">Officials say Massachusetts is "well positioned" in the wake of the pandemic, but a new report says there are some emerging challenges that threaten the state's quality of life.</span>
                            <button type="button" class="btn style48" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i> Read More</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member style165">
                        <div class="member-img">
                            <a href="https://issuu.com/newenglandnewspapers/docs/berkshireseniorfebruary2020">
                                <img src="/assets/img/Bekshiresenoir_february.PNG" class="img-fluid style147" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4>Striking age barrier could open up Alzheimer’s services in Mass.</h4>
                            <i class="bi bi-newspaper"></i>
                            <span class="style53"> People who have been diagnosed with early-onset Alzheimer’s disease and caregivers to others with the neurologic disorder asked lawmakers Monday to remove the age requirement
                                to
                                qualify for certain in-home services, making them accessible to people younger than 60 who are living with Alzheimer’s.</span>
                            <button type="button" class="btn style48" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i> Read More</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="member style165">
                        <div class="member-img">
                            <a href="https://issuu.com/newenglandnewspapers/docs/binder1_09125f40abbb9e">
                                <img src="/assets/img/Bekshiresenoir_denc.PNG" class="img-fluid style147" alt="">
                            </a>
                        </div>
                        <div class="member-info">
                            <h4>Striking age barrier could open up Alzheimer’s services in Mass.</h4>
                            <i class="bi bi-newspaper"></i>
                            <span class="style53"> People who have been diagnosed with early-onset Alzheimer’s disease and caregivers to others with the neurologic disorder asked lawmakers Monday to remove the age requirement
                                to
                                qualify for certain in-home services, making them accessible to people younger than 60 who are living with Alzheimer’s.</span>
                            <button type="button" class="btn style48" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="bi bi-box-arrow-up-right"></i> Read More</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>




    </section><!-- End About Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/news">