<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style60">PRIVACY POLICY</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">

                <div class="col-12 pt-3">
                    <h2 data-aos="fade-up" class="style79 font-weight-bold">Notice of Privacy Practices for Protected Health Information
                    </h2>
                    <h4 data-aos="fade-up" class="style68">Effective 4-14-2003 / Updated: 8-12-13</h4>
                    <p data-aos="fade-up">This notice describes how medical information about you may be used and disclosed BY ELDER SERVICES OF BERKSHIRE COUNTY, INC. and how you can get access to this information.</p>
                </div>
                <div class="col-12">
                    <h4 data-aos="fade-up">I. How Elder Services of Berkshire County, Inc. (ESBCI) Uses and Discloses Your Health Information:</h4>
                    <p data-aos="fade-up">ESBCI provides a variety of services that enable older people and adults with disabilities to stay at home in the community. Because we work with a variety of funding sources, including Medicaid, and get
                        referrals
                        from a number of health care providers, we may have personal health information about you.</p>
                    <p data-aos="fade-up">Personal health information (PHI) includes things such as certain medical diagnoses, the kinds of medical or treatment services you get, or the dates you get the services.</p>
                    <P data-aos="fade-up"> <i class="bi bi-exclamation-lg"></i> By law, ESBCI must:</P>
                    <P data-aos="fade-up">If you receive services from ESBCI, we may use your protected health information and disclose it to other health and human services programs as follows:</P>
                    <P data-aos="fade-up">ESBCI cannot use or share your health information with anyone without your written permission, except as described above. You may cancel your permission at any time as long as you tell us in writing. We
                        must get your
                        permission to use
                        your health information for marketing purposes or when we are paid for your health information. We cannot take back any health information we used or shared when we had your permission.</P>
                </div>
                <div class="col">
                    <ul data-aos="fade-up">
                        <li>Protect the privacy of your health information as described in this notice</li>
                        <li>Explain our privacy practices to you</li>
                        <li>Notify you if your unsecured health information is obtained by and unauthorized person</li>
                        <li>When communicating with family members or other persons identified as a contact person for your care or your general condition</li>
                        <li>With medical professionals including: primary care physicians, other physician specialists, and their office medical staff, local hospitals, rehabilitation and nursing facilities, and health insurance companies</li>
                        <li>When required by law</li>
                        <li>For payment activities such as checking if you are eligible for health benefits, and reimbursement for services you receive</li>
                        <li>To operate our programs, including evaluating the quality of the services</li>
                        <li>With our provider vendors to coordinate your services</li>
                        <li>With health oversight agencies (such as the Massachusetts Division of Medical Assistance, or the federal Centers for Medicare and Medicaid Services) for oversight activities authorized by law, including fraud and abuse
                            investigations</li>
                        <li>For research projects that meet privacy requirements, and help us evaluate or improve the Agency’s programs</li>
                        <li>With government agencies that give you benefits or services</li>
                        <li>To prevent or respond to an immediate and serious health or safety emergency</li>
                        <li>To tell you about new benefits and services, or health-care choices you have</li>
                        <li>To raise funds for ESBCI charitable purposes</li>
                    </ul>
                </div>
                <br>
                <div class="col-12">

                    <h4 data-aos="fade-up">II. Your Health Information Rights:</h4>
                    <p data-aos="fade-up">You have the right:</p>

                    <ul data-aos="fade-up">
                        <li>To see and get a copy of personal health information. You must ask for this in writing, or direct someone else that you designate to write on your behalf. If you have someone acting as a Power of Attorney, Health Care
                            Proxy Holder,
                            Guardian, or Conservator, he or she may also execute this document. ESBCI may charge you to cover certain costs, such as copying and postage</li>
                        <li>To ask ESBCI to change your health information if you think it is written or incomplete. You must tell us in writing, or direct someone else that you designate to write on your behalf. If you have someone acting as
                            Power of
                            Attorney, Health Care Proxy Holder, Guardian or Conservator, he or she may also execute this document. You must identify what health information you want us to change and why</li>
                        <li>To ask ESBCI to limit its use or sharing of your health information. You must ask for this in writing, or direct someone else that you designate to write on your behalf. If you have someone acting as a Power of
                            Attorney, Health Care
                            Proxy Holder, Guardian or Conservator, he or she may also execute this document. ESBCI is not required to agree to your request, unless it relates to a service that you have paid for in full</li>
                        <li>To ask ESBCI to contact you in some other way, if contacting you at the address or telephone number we have on file for you would put you in danger. Please let us know by telephone and tell us exactly where and how
                            ESBCI should
                            contact you so that we may discuss. ESBCI will confirm, in writing with you what you have stated</li>
                        <li>To get a list of when and with whom ESBCI has shared your health information, with certain exceptions. You must ask for this in writing, or direct someone else that you designate to write on your behalf. If you have
                            someone acting
                            as Power of Attorney, Health Care Proxy Holder, Guardian or Conservator, he or she may also execute this document</li>
                        <li>To ask ESBCI not to solicit funds for ESBCI charitable purposes</li>
                        <li>To get a paper copy of this Notice at any time</li>
                    </ul>
                </div>
                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column px-lg-5 style62">
                    <h4 data-aos="fade-up">III. ESBCI Duties:</h4>
                    <p data-aos="fade-up">By law ESBCI has a duty to:</p>
                    <ul data-aos="fade-up">
                        <li>Maintain the privacy of your protected health information</li>
                        <li>Provide you with a notice as to our legal duties and privacy practices with respect to protected health information we collect and maintain about you, or any changes</li>
                        <li>Abide by the terms of this notice</li>
                        <li>Notify you if we are unable to agree to a requested restriction</li>
                        <li>Provide an accounting of disclosures of your protected health information</li>
                    </ul>

                    <p data-aos="fade-up">ESBCI may change its privacy practices and make the new privacy practices effective for all protected health information we maintain. If our privacy practices change, we will mail a revised notice to the
                        address you
                        have supplied us.
                        ESBCI’s Notice of Privacy Practices are posted on our website at www.esbci.org.</p>
                    <h4 data-aos="fade-up">IV. For More Information or to Report a Problem:</h4>

                    <ul data-aos="fade-up">
                        <li>By law ESBCI must give you this notice explaining that we protect your health information and that we must follow the terms of this notice.</li>
                        <li>ESBCI takes your privacy very seriously. If you would like to exercise any of the rights as described in this notice, or if you feel that ESBCI has violated your privacy rights, contact ESBCI’s Privacy Officer in
                            writing at the
                            following address:
                            <ul class="style64">
                                <br>
                                <p class="style228">Elder Services of Berkshire County, Inc.<br />
                                    Privacy Officer <br />
                                    877 South Street, Suite 4E <br />
                                    Pittsfield, MA 01201</p>

                            </ul>
                        </li>
                        <li>Filing a complaint or exercising your rights will not affect your covered services. You may also file a complaint with the U.S. Secretary of Health and Human Services.</li>
                        <li>For more information, or if you need help understanding this notice, please call 499-O524 Monday through Friday 9a.m.-5 p.m.<br />
                        </li>
                    </ul>

                    <!-- <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Dine Pad</a></h4>
              <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
            </div> -->

                </div>

                <!-- <div class="col-xl-6 col-lg-7 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h4 data-aos="fade-up">About us</h4>
            <h3 data-aos="fade-up">Enim quis est voluptatibus aliquid consequatur fugiat</h3>
            <p data-aos="fade-up">Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus laudantium. Soluta voluptate sed facere corporis dolores excepturi. Libero laboriosam sint et id nulla
              tenetur. Suscipit aut voluptate.</p>

            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-atom"></i></div>
              <h4 class="title"><a href="">Dine Pad</a></h4>
              <p class="description">Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
            </div>

          </div> -->
            </div>

        </div>
    </section><!-- End About Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/notice_of_privacy_practices">