<!-- Wappler include head-page="layouts/main" is="dmx-app" id="nutrition" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">Nutrition Programs</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">


            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">The Meals on Wheels program</a></h4>
                        <p class="description style260">
                            The Meals on Wheels program provides homebound elders with a nutritious, hot meal each weekday at the noon hour.
                            Frozen meals are available for those elders who are in need of weekend meals. All meals are cooked with no added salt. Sugar free desserts are available for diabetic clients and lactaid milk is available for lactose
                            intolerant
                            clients.
                            There are no income guidelines, however, there are frailty guidelines.
                            For more information call Elder Services at (413) 499-0524.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
        <div class="container">

            <div data-aos="fade-up" class="style113">
                <img src="/assets/img/mow1.png" class="alt image">
            </div><br>

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-12 d-flex align-items-stretch mt-3 style114" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/esbci_web_photo/March 2022 Berk Senior TV show 2.jpg" class="center alt style115 img-fluid">
                </div>
            </div>



        </div>
    </section><!-- End Values Section -->


    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/application_aterials_forms.php" class="btn-get-started scrollto">Current Month's Menu (PDF)</a>
                </div>
                <div id="hero2" class="d-flex align-items-center">
                    <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                    <a href="/application_aterials_forms.php" class="btn-get-started scrollto">Prior Month's Menu (PDF)</a>
                </div>
            </div>


            <div data-aos="fade-up" class="section-title">
                <h5 class="style76">Congregate Meal Program</h5>
                <p class="style75">The Congregate Meal Program provides a nutritious hot meal at 14 senior lunch sites at the noon hour. Seniors 60 years and older "congregate" at a local meal site often located in a nearby senior center to eat
                    and
                    socialize. Congregate meals are often combined with recreational and educational activities. Informative and interesting programs and guest speakers are regularly scheduled to follow the meals. All meals are cooked with no
                    added salt.
                    Sugar free desserts are available and lactaid milk is also available. Reservations requested 24 hours in advance. There is a suggested donation of $2.00/meal. For more information call Elder Services at (413) 499-0524.</p>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <div>
                    <img src="/assets/img/mow2.jpg">
                </div>
                <br>
                <div>
                    <h2 class="style73">ESBC Nutrition Program Senior Dining Centers</h2>
                </div>
                <div data-aos="fade-up" class="row">
                    <table class="table table-striped" border="0" cellpadding="0" cellspacing="0" id="mealsTable">
                        <thead>
                            <tr>
                                <td width="180" rowspan="2" align="center" style="background-color: #123814;" class="style116">City/Town<br />
                                    Phone</td>
                                <td width="180" rowspan="2" align="center" style="background-color: #123814;" class="style117">Address</td>
                                <td width="109" rowspan="2" align="center" style="background-color: #123814;" class="style118">Meal<br />
                                    Times</td>
                                <td colspan="5" align="center" style="background-color: #123814;" class="style119">Days Meals Served</td>
                            </tr>
                            <tr>
                                <td width="35" align="center">M</td>
                                <td width="35" align="center">Tu</td>
                                <td width="35" align="center">W</td>
                                <td width="35" align="center">Th</td>
                                <td width="35" align="center">F</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center"><strong>Adams<br />
                                    </strong>743-8333</td>
                                <td align="center">Adams Visitor Center<br />
                                    3 Hoosac Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Becket<br />
                                    </strong>623-8934</td>
                                <td align="center">Town Hall<br />
                                    Route 8</td>
                                <td align="center">11:00 a.m.</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Cheshire<br />
                                    </strong>743-9719</td>
                                <td align="center">Senior Center<br />
                                    119 School Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center">x<br /></td>
                                <td align="center">x<br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Dalton<br />
                                    </strong>684-2000</td>
                                <td align="center">Senior Center<br />
                                    40 Field Street Ext.</td>
                                <td align="center">Noon</td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Great Barrington<br />
                                    </strong>528-4118</td>
                                <td align="center">Claire Teague Senior Ctr.<br />
                                    909 South Main Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Lanesboro<br />
                                    </strong>442-4761</td>
                                <td align="center">Town Hall<br />
                                    83 North Main Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Lee<br />
                                    </strong>243-5545</td>
                                <td align="center">Senior Center<br />
                                    21 Crossway Village</td>
                                <td align="center">11:45 a.m.</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Lenox<br />
                                    </strong>637-5535</td>
                                <td align="center">Community Ctr.<br />
                                    65 Walker Street</td>
                                <td align="center">Noon</td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>North Adams<br />
                                    </strong>662-3125</td>
                                <td align="center">Spitzer Center<br />
                                    116 Ashland Street</td>
                                <td align="center">11:45 a.m.</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Pittsfield<br />
                                    </strong>499-9346</td>
                                <td align="center">Ralph J. Froio Senior Ctr.<br />
                                    330 North Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Pittsfield-Kosher</strong> *<br />
                                    442-2200</td>
                                <td align="center">Cong. Knesset Israel<br />
                                    16 Colt Road</td>
                                <td align="center">Noon</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Sheffield<br />
                                    </strong>229-7037</td>
                                <td align="center">Senior Center<br />
                                    25 Cook Road
                                </td>
                                <td align="center">Noon</td>
                                <td align="center">&nbsp;</td>
                                <td align="center">&nbsp;</td>
                                <td align="center">x</td>
                                <td align="center">&nbsp;</td>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Stockbridge<br />
                                    </strong>298-4170 x263</td>
                                <td align="center">Senior Center<br />
                                    50 Main Street</td>
                                <td align="center">Noon</td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Stockbridge<br />
                                    </strong>298-3222</td>
                                <td align="center">Heaton Court<br />
                                    5 Pine Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                            </tr>
                            <tr>
                                <td align="center"><strong>Williamstown</strong><br />
                                    458-8350</td>
                                <td align="center">Harper Center<br />
                                    118 Church Street</td>
                                <td align="center">11:30 a.m.</td>
                                <td align="center">x</td>
                                <td align="center"><br /></td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                                <td align="center">x</td>
                            </tr>
                            <tr>
                                <td colspan="8">*The Jewish Federation of the Berkshires offers an Older Adult Kosher Lunch Program in conjunction with Elder Services.
                                    <br />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <h2 class="style66">SERVICES INQUIRY</h2>
                <p class="style261">Elder Services’ Information and Referral Department (I&R) can connect you to many available resources to find help for aging family members or yourself. Call 413-499-0524 and ask for I&R.</p>
            </div>
            <div data-aos="fade-up" class="row justify-content-center style67" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->



</main>
<!-- End #main -->

<meta name="ac:route" content="/nutrition">