<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style123">options counseling</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">Seeking help</a></h4>
                        <p class="description">Options Counseling is a program free to seniors and adults with disabilities. It is dedicated to providing unbiased information and support to individuals living in the community when making long term planning decisions. Options Counselors can provide information on topics such as: housing, benefits, long-term care, community supports, and more. Contact Elder Services at 1-800-544-5242 or 413-499-0524 for more information.</p>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/conselun.jpg" class="alt img-fluid">
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="100">
                    <img src="/assets/img/shutterstock_1569052024.jpg" class="alt img-fluid">
                </div>
            </div>
            <!-- <div data-aos="fade-up" class="style124">
          <p>AUTHOR: <a href="https://www.seniorliving.org/research/elderly-employment/">SENIORLIVING.ORG</a> TEAM · UPDATED: APRIL 27, 2021
          </p>
        </div> -->

        </div>
    </section><!-- End Services Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Who we help</h2>
                <p class="style75">Whether you’re at home, a hospital or in a long-term care or rehab facility, you need to make decisions about your future. You may have a lot of questions about topics like housing options, in-home services,
                    public
                    benefits, home modifications, ways to pay for things you need, community resources, and more. Our trained counselors have a person-centered approach and can help you identify and sort through your options, so you can make
                    informed choices
                    or decisions.</p>
                <ul>
                    <li>People age 60 and over</li>
                    <li>People under age 60 with a disability</li>
                    <li>Family members and caregivers</li>
                </ul>
            </div>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">What we do</h2>

                <ul>
                    <li>Discussion to explore options in our community including settings, programs, services, funding options, etc.</li>
                    <li>Unbiased information about long term care service and supports</li>
                    <li>Support individuals with making their own decisions about long term care</li>
                    <li>Offer options for the support you need to remain at home</li>
                    <li>Help determine the next steps to take</li>
                    <li>Phone or in-person counseling session</li>
                </ul>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <h2 class="style66">SERVICES INQUIRY</h2>
                <p>Elder Services’ Information and Referral Department (I&R) can connect you to many available resources to find help for aging family members or yourself. Call 413-499-0524 and ask for I&R.</p>
            </div>
            <div data-aos="fade-up" class="row justify-content-center style67" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main>
<!-- End #main -->

<meta name="ac:route" content="/options_counseling">