<!-- Wappler include head-page="layouts/main" is="dmx-app" id="photogallery" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" components="{dmxSlideshow:{}}" -->
<dmx-slideshow id="slideshow1"></dmx-slideshow>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">PHOTO GALLERY</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container-fluid">

            <div class="card-columns">
                <a href="javascrip:voide(0);" dmx-on:click="collapse1.toggle()">
                    <div class="card ml-3 mr-3">
                        <img class="card-img-top" alt="Card image cap" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0220.JPG">
                        <div class="card-body">
                            <h5 class="card-title text-success">Providence Court Cookout 2021</h5>
                            <p class="card-text text-success"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
                <a href="javascrip:voide(0);">
                    <div class="card ml-3 mr-3">
                        <img class="card-img-top" alt="Card image cap" src="/assets/img/Great%20Barrington%20-%20Exercise-%20BBQ-%20JUN%203%202021/DSC_0047.JPG">
                        <div class="card-body">
                            <h5 class="card-title text-success">Great Barrington - Exercise- BBQ- JUN 3 2021</h5>
                            <p class="card-text text-success"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>
            </div>
            <section>
                <div class="container-fluid">
                    <div class="collapse" id="collapse1" is="dmx-bs4-collapse">

                        <div class="card-columns">
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0090.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0150.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0207.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0121.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0182.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0220.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0135.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0193.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0242.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0261.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0287.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0323.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0356.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0372.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0228.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0250.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0265.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0300.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0339.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0364.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                            <div class="card bg-dark text-white">
                                <img class="card-img" src="/assets/img/Providence%20Court%20Cookout%202021/DSC_0265.JPG">
                                <div class="card-img-overlay">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </section><!-- End Blog Section -->
    <br>



</main><!-- End #main -->

<meta name="ac:route" content="/photogallery">