<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style123">senior employment</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 style138 col-md-12" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon style139"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">Senior Community Services Employment Program (SCSEP)</a></h4>
                        <p class="description">
                            Elder Services of Berkshire County (ESBC) is a sponsor of the federally funded, state administered, Massachusetts’ Senior Community Services Employment Program (MA-SCSEP). SCSEP’s mission is to provide job training and
                            placement for
                            individuals age 55 or older with limited financial resources and to provide employers with trained, motivated workers. The program provides persons who have met the required eligibility guidelines, and have a sincere
                            desire to work,
                            the opportunity to overcome two of the biggest barriers to employment – lack of experience and training.
                        </p>
                    </div>
                </div>

            </div>

            <div data-aos="fade-up" class="row style109">
                <!-- <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
            <img src="/assets/img/serv1.jpg" class="alt">
          </div> -->
                <div class="col-md-12 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="100">
                    <a href="https://www.seniorliving.org/research/elderly-employment/"><img src="/assets/img/Header.png" class="alt"></a>
                </div>
            </div>
            <!-- <div data-aos="fade-up" class="style124">
          <p>AUTHOR: <a href="https://www.seniorliving.org/research/elderly-employment/">SENIORLIVING.ORG</a> TEAM · UPDATED: APRIL 27, 2021
          </p>
        </div> -->

        </div>
    </section><!-- End Services Section -->

    <section>
        <div class="container">
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Program Highlights</h2>
                <p class="style75">During the initial intake an applicant is assessed for eligibility, current job skills, interests and individual experience. Applicants then have the possibility of interviewing with a Host Agency. If a match
                    occurs, the
                    candidate is enrolled as a SCSEP participant and placed in part-time job training opportunity at a local nonprofit organization or government agency. The participant’s salary is paid by the SCSEP program.</p><br>
                <p class="style75">The SCSEP program allows participants to be enrolled for a maximum of 48 months with job rotations on an annual basis to maximize job training with different non-profit organizations.</p>
            </div>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">Eligibility</h2>
                <p class="style75">Applicants who meet the following eligibility criteria will be considered for a training assignment in SCSEP:</p>
                <ul>
                    <li>55 years of age or older</li>
                    <li>Resident of Massachusetts (Berkshire County for the ESBC sponsored program)</li>
                    <li>Unemployed</li>
                    <li>Qualifies for income eligibility guidelines (125% of current federal poverty guidelines)</li>
                    <li>Able to be placed in a non-subsidized position in the future</li>
                    <li>Agree to cooperate in an active and continuous job search</li>
                    <li>Agree to attend computer and other training opportunities</li>
                </ul>
            </div>

        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <h2 class="style66">SERVICES INQUIRY</h2>
                <p>Elder Services’ Information and Referral Department (I&R) can connect you to many available resources to find help for aging family members or yourself. Call 413-499-0524 and ask for I&R.</p>
            </div>
            <div data-aos="fade-up" class="row justify-content-center style67" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<meta name="ac:route" content="/senior_employment">