<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style96">services</h2>
        </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Values Section ======= -->
    <section id="values" class="values">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <!-- <h2>Start Here!</h2> -->
                <hr class="style98">
                <p>Elder Services’ Information and Referral Department can answer questions regarding any of the programs and services listed here. Call 413-499-0524 and ask for I&amp;R. Explore &amp; research ESBCI’s dynamic programs</p>
                <hr class="style97">
            </div>
            <br>

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="card" style="background-image: url(assets/img/serv2.jpeg);">
                        <div class="card-body">
                            <a href="/information_referral.php">
                                <h5 class="card-title">INFORMATION &amp; REFERRAL</h5>
                                <p class="card-text">Elder Services’ Information and Referral Department can answer questions regarding any of the programs and services listed here. Call 413-499-0524 and ask for I&amp;R. Explore &amp; research
                                    ESBCI’s dynamic programs.</p>
                                <div class="read-more"><a href="/information_referral.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="card" style="background-image: url(assets/img/serv3.jpeg);">
                        <div class="card-body">
                            <a href="/home_care_service.php">
                                <h5 class="card-title">HOME CARE SERVICES</h5>
                                <p class="card-text">In-home services including homemaker, personal care, laundry, and adult day health, are determined by an in home eligibility assessment of impairment level and needs. More about Staying Home
                                    and
                                    Homecare Services.</p>
                                <div class="read-more"><a href="https://www.nbctc.org/Learn Mores/"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="card" style="background-image: url(assets/img/serv3.jpeg);">
                        <div class="card-body">
                            <a href="/nutrition.php">
                                <h5 class="card-title">NUTRITION PROGRAMS</h5>
                                <p class="card-text">Meals on Wheels” are designed to provide just the right combination of good nutrition and a friendly visitor for people 60+ who are homebound and may not be able to prepare their own
                                    meal, or understand the proper nutritional requirements as they are advancing in age..</p>
                                <div class="read-more"><a href="https://ctsbtv.org/iframe/"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv2.jpeg);">
                        <div class="card-body">
                            <a href="/shine.php">
                                <h5 class="card-title">THE SHINE PROGRAM</h5>
                                <p class="card-text">The SHINE program provides free, unbiased and up-to-date health insurance information, counseling and assistance to Medicare beneficiaries of all ages and their caregivers. The SHINE counselors
                                    help older persons (and younger disabled Medicare
                                    beneficiaries) understand their Medicare benefits and other health insurance options.
                                </p>
                                <div class="read-more"><a href="/shine.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv1.jpg);">
                        <div class="card-body">
                            <a href="https://www.mass.gov/how-to/report-elder-abuse">
                                <h5 class="card-title">PROTECTIVE SERVICES</h5>
                                <p class="card-text">Our Protective Services team investigates reports of elder abuse and neglect, and intervenes when possible, to offer older adults a choice to live in safe, supportive environments, with
                                    access to the help and
                                    services they need.</p>
                                <div class="read-more"><a href="https://www.mass.gov/how-to/report-elder-abuse"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv5.jpg);">
                        <div class="card-body">
                            <a href="/caregiver_support.php">
                                <h5 class="card-title">CAREGIVER SUPPORT</h5>
                                <p class="card-text">Caregiving could be one of the most important things you ever do. It can be challenging and rewarding — and often frustrating. The Caregiver Program provides you the support and services
                                    you
                                    need to make life
                                    easier for yourself and the individual you’re caring for.</p>
                                <div class="read-more"><a href="/caregiver_support.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv1.jpg);">
                        <div class="card-body">
                            <a href="/supportive_housing_programs.php">
                                <h5 class="card-title">SUPPORTIVE HOUSING</h5>
                                <p class="card-text">Group Adult Foster Care, and Providence Court.</p>
                                <div class="read-more"><a href="/supportive_housing_programs.php"><i class=" bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv2.jpeg);">
                        <div class="card-body">
                            <a href="/subgrants.php">
                                <h5 class="card-title">SUBGRANTS</h5>
                                <p class="card-text">With funding from Title III of the Older Americans Act, Elder Services offers a limited number of Subgrants to local organizations to fund services and workshops.</p>
                                <div class="read-more"><a href="/subgrants.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv2.jpeg);">
                        <div class="card-body">
                            <a href="/transportation.php">
                                <h5 class="card-title">TRANSPORTATION</h5>
                                <p class="card-text">Volunteers who are trained, screened and supervised provide rides free of charge to medical appointments and shopping.</p>
                                <div class="read-more"><a href="/transportation.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv3.jpeg);">
                        <div class="card-body">
                            <a href="/money_management.php">
                                <h5 class="card-title">MONEY MANAGEMENT PROGRAM</h5>
                                <p class="card-text">Paying bills accurately and on time is an essential part of living independently. The Money Management Program offers two types of bill paying services to people 60 years and older as well as
                                    individuals living with a disability.</p>
                                <div class="read-more"><a href="/money_management.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv3.jpeg);">
                        <div class="card-body">
                            <a href="/senior_employment.php">
                                <h5 class="card-title">SENIOR EMPLOYMENT</h5>
                                <p class="card-text">The SCSEP mission is to provide job training and placement for individuals age 55 or older with limited financial resources and to provide employers with trained, motivated workers.</p>
                                <div class="read-more"><a href="/senior_employment.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="card" style="background-image: url(assets/img/serv2.jpeg);">
                        <div class="card-body">
                            <a href="/options_counseling.php">
                                <h5 class="card-title">OPTIONS COUNSELING</h5>
                                <p class="card-text">ptions Counseling is an interactive, short-term decision support process to assist consumers, family members, caregivers, and/or significant others to make an informed choice about long
                                    term
                                    services,
                                    supports, and settings.</p>
                                <div class="read-more"><a href="/options_counseling.php"><i class="bi bi-arrow-right"></i> Learn More</a></div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <br>
        </div>
    </section><!-- End Values Section -->


</main><!-- End #main -->

<meta name="ac:route" content="/services">