<!-- Wappler include head-page="layouts/main" is="dmx-app" id="service_areas" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style50">Service Areas</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-3">
        <div class="container">

            <div class="row">
                <div class="section-title">
                    <h5 data-aos="fade-up" class="style212">Clicking on the town or city will redirect you to their Council on Aging website.</h5>
                </div>


                <div data-aos="fade-up" class="center style225 style226">
                    <img src="/assets/img/berkshire1.svg" class="mapper" alt="map" usemap="#berkshire">
                </div>




                <map name="berkshire">
                    <!-- RIGHT , TOP, LEFT, DOWN -->
                    <area class="noborder icolor60ff1c" target="" alt="williamstownma" title="Williamstownma" href="https://williamstownma.gov/council-on-aging/" coords="267,7,375,10,371,42,362,42,359,70,370,72,365,134,224,130,261,27" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="clarksburgs" title="Clarksburgs" href="https://clarksburgma.gov/senior-center" coords="495,12,375,10,374,42,484,48" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="northadams" title="northadams" href="https://www.northadams-ma.gov/" coords="364,44,483,51,481,106,369,99,371,70,361,71" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="florida" title="Florida" href="https://massachusetts.networkofcare.org/mh/services/agency.aspx?pid=FloridaCouncilonAging_2_1632_1" coords="600,53,598,66,591,71,577,68,573,78,565,78,554,88,559,94,573,99,582,98,592,95,596,107,600,121,585,121,579,133,567,125,552,131,544,123,536,113,523,114,481,111,483,78,485,49,491,29,497,12,522,12,522,55,546,55,561,55" shape="poly">


                    <area class="noborder icolor60ff1c" target="" alt="Adams" title="Adams" href="https://www.town.adams.ma.us/council-aging" coords="369,101,420,105,480,108,477,145,476,173,418,171,365,168" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Savoy" title="Savoy" href="https://disabilityinfo.org/offices/councils-on-aging/councils-on-aging-savoy-council-on-aging/" coords="482,113,505,115,532,116,536,119,539,123,545,126,548,130,552,133,557,131,562,129,567,126,571,130,576,130,581,132,583,126,592,122,599,125,581,189,569,230,547,227,508,221,449,210,461,198,461,186,459,174,477,174" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="New Ashford" title="New Ashford" href="https://www.newashford-ma.us/departments-and-committees/council-on-aging/" coords="270,134,314,135,365,136,362,169,344,163,331,160,331,168,334,177,334,183,332,189,321,187,296,183,276,179,259,177,262,166,265,150" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Hancock " title="Hancock " href="https://mycommunityonline.com/find/hancock-council-on-aging" coords="223,130,243,132,268,134,263,156,256,177,272,181,259,204,234,245,219,266,213,283,208,283,201,314,193,345,188,366,141,358,182,246" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Lanesborough" title="Lanesborough" href="https://www.lanesborough-ma.gov/council-aging-0" coords="273,179,259,203,237,237,219,273,251,278,289,283,306,286,326,288,355,293,371,266,356,263,343,258,333,258,342,245,348,235,322,231,330,217,324,215,330,209,323,206,331,191,303,185,287,182" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="Pittsfield" title="Pittsfield" href="https://www.cityofpittsfield.org/city_hall/council_on_aging/" coords="242,278,277,283,354,294,350,310,341,345,329,389,248,376,189,367,209,286,214,286,217,274" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Dalton " title="Dalton " href="https://dalton-ma.gov/council-on-aging/" coords="393,233,432,238,421,282,427,286,416,329,380,328,368,374,335,371,350,316,356,292,371,270,381,252" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Cheshire" title="Cheshire" href="https://www.cheshire-ma.gov/council-aging" coords="331,161,360,170,392,171,437,173,457,174,462,197,445,210,456,213,453,224,437,221,434,237,393,231,371,265,348,261,348,258,336,257,350,235,324,231,333,216,327,214,332,205,325,204,335,191,337,177,334,169" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Windsor" title="Windsor" href="https://www.windsormass.com/council-on-aging" coords="457,212,515,223,580,234,572,270,561,313,496,302,426,290,428,284,422,284,430,254,439,221,455,225" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="Hinsdale" title="Hinsdale" href="https://www.hinsdalemass.com/council-on-aging-1" coords="425,291,449,295,476,300,471,311,467,321,465,330,466,338,465,346,461,351,465,357,459,359,463,365,461,376,454,378,457,378,451,403,424,399,399,395,405,373,369,374,382,329,417,331" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Peru" title="Peru" href="https://www.townofperuma.com/council-aging" coords="475,300,516,307,560,315,548,362,536,409,477,399,474,409,451,403,458,378,463,378,464,367,463,361,469,361,467,355,463,349,468,338,465,335,469,319,472,313,474,307" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Richmond" title="Richmond" href="http://www.richmondma.org/government/boards_and_commissions/council_on_aging.php" coords="141,359,186,368,237,376,238,382,220,382,216,395,204,396,205,410,197,412,199,422,193,422,196,439,151,440,113,440" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Lenox" title="Lenox" href="https://www.townoflenox.com/council-aging" coords="269,380,312,387,304,412,295,417,295,423,292,428,291,434,293,438,287,443,287,449,288,456,288,467,253,466,248,469,242,470,242,439,196,439,192,421,199,422,198,411,207,412,204,396,218,397,220,383,240,384,239,376" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Washington" title="Washington" href="http://www.washington-ma.com/" coords="334,372,368,374,403,375,398,395,426,400,473,409,478,431,479,453,435,458,379,464,379,491,356,470,344,475,319,450,298,427,296,419,305,413,312,387,328,390" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="West Stockbridge" title="West Stockbridge" href="https://www.weststockbridge-ma.gov/council-aging" coords="111,442,185,441,175,453,173,474,160,476,158,542,122,542,123,527,107,519,106,505,91,502" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Stockbridge" title="Stockbridge" href="https://stockbridge-ma.gov/" coords="186,440,241,441,241,482,240,544,197,543,160,542,161,477,174,476,175,462,176,454" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Lee" title="Lee" href="https://www.lee.ma.us/council-aging-0" coords="293,424,314,445,343,477,356,472,377,491,376,511,307,521,289,544,242,544,241,487,241,472,249,472,253,466,258,468,288,468,288,457,288,445,292,441,296,436,293,429" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Becket" title="Becket" href="https://www.townofbecket.org/council-aging" coords="379,465,426,460,478,454,479,465,492,472,497,473,499,478,504,476,505,481,510,483,518,491,522,489,530,486,535,491,540,492,549,485,546,504,546,517,546,550,542,550,539,564,510,567,506,563,481,565,452,568,449,556,421,558,417,552,410,549,378,554,378,509,379,490,379,478" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="Alford" title="Alford" href="https://www.townofalford.org/council-aging" coords="90,503,105,506,105,520,121,528,120,544,126,579,107,579,108,592,60,587" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Great Barrington" title="Great Barrington" href="https://www.townofgb.org/council-aging" coords="121,544,161,543,196,544,226,545,252,545,287,545,262,578,240,605,239,621,242,652,183,651,141,651,115,651,112,624,108,619,110,615,109,580,128,580,125,562" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Tyringham" title="Tyringham" href="https://www.tyringham-ma.gov/council-aging" coords="309,521,376,513,376,552,376,585,375,610,320,582,276,561" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Otis" title="Otis" href="https://townofotisma.com/commissions-councils/council-on-aging-coa/" coords="377,556,418,549,414,553,417,556,420,560,449,558,452,571,483,567,507,563,508,567,522,567,539,565,533,585,524,620,518,643,511,669,483,665,471,662,471,667,471,672,463,675,461,655,457,621,416,626,377,630,377,593" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="Monterey" title="Monterey" href="https://www.montereyma.gov/council-aging" coords="275,562,320,584,375,611,376,630,371,645,370,654,349,655,350,659,309,664,285,641,260,645,241,638,240,607" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Egremont " title="Egremont " href="https://www.egremont-ma.gov/coa.html" coords="59,589,107,594,108,614,106,622,110,626,114,652,133,651,134,656,128,657,123,661,115,663,119,682,84,681,91,693,84,697,64,679,48,663,36,657" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Mount Washington" title="Mount Washington" href="https://townofmtwashington.com/council-on-aging/" coords="35,658,49,664,61,677,84,698,92,694,101,713,93,737,88,760,84,771,53,772,21,772,9,733" shape="poly">

                    <area class="noborder icolor60ff1c" target="" alt="Sheffield" title="Sheffield" href="https://www.sheffieldma.gov/council-aging" coords="135,652,173,653,231,652,238,695,224,711,233,775,177,774,125,772,86,771,95,734,103,713,87,683,120,682,115,664,130,661,135,658,130,661" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="New Marlborough" title="New Marlborough" href="https://www.newmarlboroughma.gov/council-aging" coords="241,638,250,642,256,645,269,645,284,643,310,665,349,660,355,699,359,734,365,779,318,778,275,776,233,775,225,710,239,695,237,673,233,652,244,653" shape="poly">
                    <area class="noborder icolor60ff1c" target="" alt="Sandisfield " title="Sandisfield " href="https://www.sandisfieldma.gov/council-aging" coords="376,632,409,627,455,622,460,650,463,674,473,674,474,679,475,688,481,695,482,698,474,701,470,708,468,713,471,722,473,732,477,741,485,754,481,759,485,762,489,765,490,770,486,776,490,783,482,782,451,782,427,781,391,780,365,779,360,734,354,689,351,657,371,654,373,643" shape="poly">
                </map>

                </map>

            </div>

        </div>

    </section>

</main><!-- End #main -->

<meta name="ac:route" content="/service_areas">

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>