<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">SHINE Program</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <!-- <section id="services" class="services section-bg">
        <div class="container">

           

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-12 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/SHINE-1.png" class="alt img-fluid">
                </div>
               
            </div>



        </div>
    </section> -->
    <!-- End Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <!-- <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                    <a><img src="/assets/img/nj1.jpg"></a>
                  </div> -->

                <div class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center px-lg-5 style62 pt-2">
                    <h1 class="fw-bolder">SHINE- Serving Health Insurance Needs of Everyone&nbsp;</h1>
                </div>
                <hr>
                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center px-lg-5 style62 pb-5">
                    <div class="section-title">
                        <!-- <h2 data-aos="fade-up" class="style79">SHINE - Serving Health Insurance Needs of Everyone
                            </h2> -->
                    </div>
                    <div data-aos="fade-up">
                        <h3>What is the SHINE Program?&nbsp;</h3>
                        <p>Certified SHINE Counselors provide information regarding the various options available to Medicare beneficiaries including; Medicare A and B, Medicare Advantage, Prescription Drug Coverage (Part D), Medigap, Prescription Advantage, MassHealth, and other programs that help people with limited resources manage health care costs.
                        <p wappler-empty="undefined" wappler-command="editContent">
                        </p>
                        <p wappler-command="editContent">Administered by the Executive Office of Elder Affairs, the SHINE program provides free, unbiased and up-to-date health insurance information, counseling and application assistance to Medicare beneficiaries of all ages and their caregivers.&nbsp;&nbsp;</p>
                        </p>
                    </div>





                    <div data-aos="fade-up">
                        <h3>Where Can I Find a SHINE Counselor?&nbsp;</h3>
                        <p>Community volunteers who are trained and certified by the Massachusetts Executive Office of Elder Affairs in many areas of health benefits. SHINE Counselors provide information on Medicare (Part A, Part B, Part C, and
                            Part D), Medigap insurance,
                            prescription drug coverage, retiree insurance plans, Medicaid and free or reduced cost health care programs.</p>

                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h3>How May a SHINE Counselor Help Me?</h3>
                        <p>SHINE counselors hold regularly-scheduled sessions at Council on Aging sites throughout Berkshire County and are available to assist consumers via telephone.
                        <p wappler-empty="undefined" wappler-command="editContent">
                        </p>
                        <p wappler-command="editContent">To make an appointment to speak with a SHINE counselor contact your local Council on Aging or call 413-499-0524 or 1-800-544-5242, and ask for the SHINE Program.&nbsp;</p>
                        </p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h3>Interested in volunteering as a SHINE Counselor?&nbsp;&nbsp;</h3>
                        <p>By becoming a state certified counselor, you will be an important member of the growing efforts to help Medicare beneficiaries understand their healthcare options. We invite you to find out more about SHINE and what you can do to help.&nbsp;</p>
                        <h3>Contact SHINE&nbsp;</h3>
                        <p>Elder Services of Berkshire County, Inc.
                        <p wappler-command="editContent">877 South Street, Suite 4E
                        </p>
                        <p wappler-command="editContent">Pittsfield, MA 01201
                        </p>
                        <p wappler-command="editContent">413-499-0524 or 1-800-544-5242&nbsp;</p>
                        </p>
                        <br>
                    </div>



                    <div data-aos="fade-up">

                        <div id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a href="/assets/pdf/volunteerapplication.pdf" class="btn-get-started scrollto">Become A SHINE Counselors </a>
                        </div>



                    </div>




                </div>


            </div>

        </div>
    </section><!-- End About Section -->


    <br>



</main><!-- End #main -->

<meta name="ac:route" content="/shine">