<!-- Wappler include head-page="layouts/main" is="dmx-app" id="subgrants" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style88">Subgrants</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page pt-3">
        <div class="container">
            <div class="row">
                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style62">
                    <div class="section-title">
                        <h2 data-aos="fade-up" class="style79">
                            Subgrants
                        </h2>
                    </div>
                    <div data-aos="fade-up">
                        <p>Each year, with funding from Title III of the Older Americans Act, Elder Services offers a limited number of Subgrants to local organizations to fund services and workshops which expand the availability of services for
                            Berkshire
                            seniors and caregivers. Here are the current list of programs and services available to the public through these Subgrants:</p>
                    </div>

                    <ul data-aos="fade-up" class="style89">
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto"> <strong>Alzheimer’s Association:</strong>Caregiver Education Series - Six freestanding two-hour workshops for caregivers will be presented at ESBC, usually in April and May.
                                Topics will include: What is
                                Dementia? Interacting with the Person, Planning for the Future, Caring for the Person at Home, Asking for Help, and Taking Care of Yourself. The schedule will be published in ESBC’s monthly newspaper, Berkshire
                                Senior.</a>
                        </li>
                        <br>
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto">
                                <strong>Berkshire Community Action Council, Inc.:</strong> Medical Reassurance Service - provides seniors with medication reminders by telephone as often as three times per day. The callers also check on the
                                seniors’ health and
                                well-being.</a>
                        </li>
                        <br>
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto"><strong>Community Legal Aid:</strong> The Berkshire Elder Law Project - provides seniors with advice, advocacy, representation and other direct legal services
                                pertaining to civil matters.</a>
                        </li>
                        <br>
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto"><strong>Porchlight Visiting Nurse Association:</strong> Registered Nurse (RN) In-Home Visits – registered nurses provide one-time in-home visits for single visits
                                not covered by Medicare. Such visits may
                                include, but are not limited to: single injections, review and clarification of medications, removal of catheters, wound or dressing changes, and monitoring of anti-coagulant levels.</a>
                        </li>
                        <br>
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto"><strong>Porchlight Visiting Nurse Association:</strong> Move in Time: a Falls Prevention Workshop - Porchlight VNA sends physical or occupational therapists to
                                various senior settings, such as Councils on
                                Aging, and assisted living, retirement and senior housing communities, to conduct 6-week interactive workshops on Falls Prevention.</a>
                        </li>
                        <br>
                        <li id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto">
                                <strong>Premier Home Health Care:</strong> In-Home Respite – provides temporary relief services (such as personal care, homemaking, or companion services) for
                                caregivers of individuals over age 60 affected by
                                Alzheimer’s disease and related disorders.
                            </a>
                        </li>
                    </ul>

                    <!-- <div class="style90">
              <button id="tbn_cost" type="submit" class="btn-wrap style91">FY 2021 Title III Subgrant </button>
            </div> -->

                    <div class="style95">
                        <button type="submit" class="btn style48"><i class="bx bx-fingerprint"></i> FY 2021 Title III Subgrant Letter of Intent and Request for Proposals</button>
                    </div>

                    <br>
                    <div>
                        <h5 class="style92">Those interested in any of these programs may contact:</h5>

                        <div id="contact" class="contact">

                            <div class="row justify-content-center">

                                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up">
                                    <div class="info-box">
                                        <i class="bx bx-map"></i>
                                        <h3 class="style82">Address</h3>
                                        <p>877 South Street, Suite 4E Pittsfield MA 01201</p>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="100">
                                    <div class="info-box">
                                        <i class="bx bx-envelope"></i>
                                        <h3 class="style81">Attention to</h3>
                                        <p>Kathleen Phillips<br>Contracts Administrator</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 mt-4" data-aos="fade-up" data-aos-delay="200">
                                    <div class="info-box">
                                        <i class="bx bx-phone-call"></i>
                                        <h3>CONTACT</h3>
                                        <p>+1 (413) 499-0524<br>+1 (800) 544-5242</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<meta name="ac:route" content="/subgrants">