<!-- Wappler include head-page="layouts/main" is="dmx-app" id="supportive_housing_programs" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style69">housing PROGRAMS</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi
            quidem hic quas.</p>
        </div> -->

            <div class="row">
                <div class="col-lg-12 col-md-6" data-aos="fade-up">
                    <div class="icon-box">
                        <div class="icon"><i class="bi bi-heart-half"></i></div>
                        <h4 class="title"><a href="">Supportive Housing Programs</a></h4>
                        <p class="description">
                            If you have questions about the Supportive Housing Programs at Elder Services, call us at (413) 499-0524 or 1-800-544-5242.
                            A Supportive Housing Coordinator is available on-site during business hours to answer your questions and make referrals for additional services as needed.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Services Section -->



    <section>
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Group Adult Foster Care</h2>
                <p>Group Adult Foster Care (GAFC) is a specialized housing program which provides daily care and supervision at no additional cost. The individual can continue to remain in the community in their home
                    environment with
                    this daily service and also receives ongoing monitoring and case management from a Registered Nurse and Social Worker.</p>
            </div>
            <br>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style72">GAFC provides the following services:</h2>
                <ul>
                    <li>Individualized plan of care to best meet care needs</li>
                    <li>Initiation of services through a community health care agency to provide assistance with personal care needs like bathing, dressing, grooming, and meal preparation</li>
                    <li>Daily personal care and weekly homemaking</li>
                    <li>Ongoing coordination and monitoring of contracted services</li>
                    <li>Attendance at an Adult Day Health program if the participant agrees</li>
                    <li>Ongoing assessment of changing care needs by a Registered Nurse and Social Worker</li>
                </ul>
                <br>
                <p>All of the services provided by the GAFC program come at NO cost to the client.
                    For more information about the GAFC program, call Elder Services at (413) 499-0524 or 1-800-544-5242.</p>
                <br>
            </div>
            <div data-aos="fade-up" class="section-title">
                <h2 class="style73">supportive housing</h2>

                <h5>PROVIDENCE COURT</h5>
                <p class="style75">A collaboration between Elder Services of Berkshire County and the Pittsfield Housing Authority to provide residents with on-site services that promotes independence and the opportunity to age in place. The
                    following
                    services are offered on an as needed basis to the residents of Providence Court:</p>
                <br>
                <ul>
                    <li>A Residential Coordinator from Elder Services is on-site, Monday - Friday, to help all residents obtain needed services and community benefits</li>
                    <li>A noon time meal is served in the building’s community room Monday - Friday</li>
                    <li>A Saturday morning continental breakfast is offered each week</li>
                    <li>A personal care attendant is available on-site throughout the day and overnight for unplanned care needs</li>
                    <li>A personal emergency response is offered to each tenant at no additional cost </li>
                </ul>
                <br>
                <h5>CROSSWAY VILLAGE</h5>
                <p class="style75">A collaboration between Elder Services of Berkshire County and Berkshire Housing Authority to provide residents with on-site services that promotes independence and the opportunity to age in place. The
                    following
                    services are offered on an as needed basis to the residents of Crossway vVllage:</p>
                <br>
                <ul>
                    <li>A Residential Coordinator from Elder Services is on-site, Monday - Friday, to help all residents obtain needed services and community benefits</li>
                    <li>A noon time meal is served in the building’s community room Monday - Friday</li>
                    <li>A personal emergency response is offered to each tenant at no additional cost </li>
                </ul>
                <br>
                <br>
            </div>

            <div class="section-title" data-aos="fade-up">
                <h2>More Housing Options</h2>
                <P>
                    If you need help with more housing options <a href="/options_counseling.php">click here</a> to learn about our Option Counseling Program.
                </P>
            </div>
            <hr>
        </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div data-aos="fade-up" class="section-title">
                <h2 class="style66">Supportive Housing Programs INQUIRY</h2>
                <p>Are you in need of Supportive Housing Programs and want more information? We are happy to help! Fill out the form below and ESBCI will be in touch shortly.<br>
                    For more information about Supportive Housing, please call 413-499-0524.</p>
            </div>
            <div data-aos="fade-up" class="row justify-content-center style67" data-aos-delay="300">
                <div class="col-xl-9 col-lg-12 mt-4">
                    <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->



</main><!-- End #main -->

<meta name="ac:route" content="/supportive_housing_programs">