<!-- Wappler include head-page="layouts/main" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130 font-weight-bold">testimonial</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="style274 container">


            <!-- <hr data-aos="fade-up"> -->
            <di data-aos="fade-up" class="row style273" style="">

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Informative</h3>
                            <p>My case manager is very kind, empathetic, informative, and patient with me. He is an overall really good guy who understands the needs of older persons. Thanks</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Very courteous</h3>
                            <p>My case manager has always been very helpful and gets information and returns to me with the necessary info in a timely manner. She is very courteous and a pleasure to work with. She is an asset to your staff.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>True professional</h3>
                            <p>&nbsp;My case manager is a true professional in every way. He is very informative and compassionate to our needs. A real asset to the Elder Services program.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Explained well</h3>
                            <p>My case manager has helped me through some difficult times. Very patient and kind. Explained well what was available or not.</p>
                        </div>
                    </div>
                </div>

            </di>
            <di data-aos="fade-up" class="row style273" style="">

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Very patient</h3>
                            <p>&nbsp;My case manager was very patient and thorough in explaining everything to us especially during a stressful time. It’s a pleasure to work with her.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Responsive and helpful</h3>
                            <p>My case manager is very responsive and helpful. It is nice to know we have someone to answer our questions and keep us going in the right direction.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>&nbsp;Wonderful caring&nbsp;</h3>
                            <p>&nbsp;Wonderful caring individuals. When I recently got out of rehabilitation/hospital they were right there. They contacted me right in the hospital. Thank you- wonderful services</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 style168">
                    <div class="portfolio-info">
                        <div class="testimonial-item">
                            <img src="/assets/img/bopp.jpg" class="testimonial-img style169" alt="">
                            <h3>Truly a life saver</h3>
                            <p>&nbsp;Your service is truly a life saver and everyone I’ve dealt with is kind, patient, and most helpful. Thank you for all you do.</p>
                        </div>
                    </div>
                </div>

            </di>

        </div>
    </section><!-- End Portfolio Details Section -->
    <br>



</main><!-- End #main -->

<meta name="ac:route" content="/testimonial">