<!-- Wappler include head-page="layouts/main" is="dmx-app" id="volunteering" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">Volunteer Program</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="row">
                    <div class="col-lg-12 col-md-6" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-heart-half"></i></div>
                            <h4 class="title"><a href="">A Good Place to Work - A Good Place to Grow</a></h4>
                            <p class="description">
                                A progressive and dedicated human services organization, provides Berkshire elders, caregivers, and individuals with disabilities the opportunity to live with dignity, independence, and self-determination, and to
                                achieve the highest possible quality
                                of life. To fulfill our mission, we seek energetic, focused, qualified professionals for the positions described below.
                            </p>
                        </div>
                    </div>

                </div> -->

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-12 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/VolunteerBannerFull.jpg" class="alt img-fluid">
                </div>
                <!-- <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="100">
                        <img src="/assets/img/hiring-removebg-preview.png" class="alt">
                    </div> -->
            </div>



        </div>
    </section><!-- End Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">

                <!-- <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                    <a><img src="/assets/img/nj1.jpg"></a>
                  </div> -->

                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style62">
                    <div class="section-title">
                        <h2 data-aos="fade-up" class="style79">Volunteers are an integral part of Elder Services</h2>
                    </div>
                    <div data-aos="fade-up">
                        <p>At Elder Services, our volunteer programs are important to us! We are dedicated to the intake, monitoring, and appreciation of the hundreds of volunteers that assist in various programs at ESBCI. Our volunteers are trained, oriented, and must pass a background check and agree to uphold the values and standards of ESBCI. Volunteers can provide any amount of time they wish and can participate in programs that fit their strengths and time commitment.</p>
                    </div>


                    <hr>


                    <div class="col">
                        <h5>For a list of volunteer opportunities, <a href="#">click here</a>.</h5>
                    </div>
                </div>

                <div data-aos="fade-up">

                    <div id="hero2" class="d-flex align-items-center">
                        <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                        <a class="btn-get-started scrollto" href="/assets/pdf/volunteerapplication.pdf">Become A Volunteer</a>
                    </div>



                </div>




            </div>




        </div>
    </section><!-- End About Section -->


    <br>



</main><!-- End #main -->

<meta name="ac:route" content="/volunteer_program">