<!-- Wappler include head-page="layouts/main" is="dmx-app" id="volunteer_opportunities" appConnect="local" bootstrap5="local" fontawesome_4="local" jquery_slim_35="local" moment_2="local" -->

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <h2 class="style130">Volunteer Opportunities</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Values Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <!-- <div class="row">
                    <div class="col-lg-12 col-md-6" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-heart-half"></i></div>
                            <h4 class="title"><a href="">A Good Place to Work - A Good Place to Grow</a></h4>
                            <p class="description">
                                A progressive and dedicated human services organization, provides Berkshire elders, caregivers, and individuals with disabilities the opportunity to live with dignity, independence, and self-determination, and to
                                achieve the highest possible quality
                                of life. To fulfill our mission, we seek energetic, focused, qualified professionals for the positions described below.
                            </p>
                        </div>
                    </div>

                </div> -->

            <div data-aos="fade-up" class="row style109">
                <div class="col-md-12 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="200">
                    <img src="/assets/img/VolunteerBannerFull.jpg" class="alt img-fluid">
                </div>
                <!-- <div class="col-md-6 d-flex align-items-stretch mt-3" data-aos="fade-up" data-aos-delay="100">
                        <img src="/assets/img/hiring-removebg-preview.png" class="alt">
                    </div> -->
            </div>



        </div>
    </section><!-- End Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <!-- <div class="col-xl-5 col-lg-6 d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                    <a><img src="/assets/img/nj1.jpg"></a>
                  </div> -->

                <div data-aos="fade-up" class="col-xl-12 col-lg-12 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 style62">
                    <div class="section-title">
                        <h2 data-aos="fade-up" class="style79">VOLUNTEERS ARE AN INTEGRAL PART OF ELDER SERVICES</h2>
                        <p>Do you have time to share your talents? If you would like to learn more about volunteer opportunities, contact Elder Services at 1-800-544-5242 or 413-499-0524.</p>
                    </div>
                    <div data-aos="fade-up">
                    </div>


                    <hr>


                    <div data-aos="fade-up">
                        <h4>Companionship:</h4>
                        <p>Visit a lonely senior or accompany him/her into the community for shopping or special events.</p>

                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Grocery Shopping Assistant:</h4>
                        <p>Drive and escort a senior to the grocery store or shop for a homebound senior with a list.</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Lunch Site Coordinator:</h4>
                        <p>Help seniors enjoy the lunch programs by overseeing the meal site functions including taking reservations, serving, and helping with clean-up at one of the sites throughout Berkshire County.</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Meals on Wheels Driver:</h4>
                        <p>Deliver meals to homebound seniors. Download training video here.</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Food Service:</h4>
                        <p>Help prepare and package Meals on Wheels at Elder Services’ kitchen in Lanesborough.</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Money Management:</h4>
                        <p>Assist income-eligible seniors monthly in writing checks for household bills, budgeting, and reconciling bank statements. more</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Long Term Care Ombudsman:</h4>
                        <p>Make weekly visits to nursing home residents to advocate for and resolve complaints.</p>
                        <br>
                    </div>

                    <div data-aos="fade-up">
                        <h4>Office:</h4>
                        <p>Assist with special projects such as bulk mailings at Elder Services’ office, 877 South Street, 4E, Pittsfield.</p>
                        <br>
                    </div>




                    <div data-aos="fade-up">

                        <div id="hero2" class="d-flex align-items-center">
                            <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                            <a class="btn-get-started scrollto" href="/assets/pdf/volunteerapplication.pdf">Become A Volunteer</a>
                        </div>



                    </div>




                </div>


            </div>

        </div>
    </section><!-- End About Section -->


    <br>



</main><!-- End #main -->

<meta name="ac:route" content="/volunteer_opportunities">